<style>
  .rowtitlecls {
    border: 1px solid #f0ecec;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-left: 0%;
    height: 180px;
  }

  .sas {
    position: relative;
    top: 7px;
    font-weight: 600;
    text-decoration: underline;
    color: #4caf50;

  }
</style>

<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Receipt Online</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" style="cursor:pointer;" (click)="homeClick()"></i> Transactions</a>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="#" onClick="return false;" (click)="redirectToPenidng()">{{pathName}}</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Receipt Online</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="row clearfix center">
                <label class="col-sm-12" style="font-size: inherit; float: right;">
                  Last edit was made on <b>{{lastTransactionEditedDate | date:'medium'}}</b> by <b>{{lastTransactionEditedBy}}</b>
                </label>
              </div> -->

    <div class="card">
      <div class="card-body">

        <div class="row clearfix">
          <label class="col-sm-3" style="font-weight: bold;">Transaction Type:
            <label>{{transactionType}}</label></label>
          <!-- <div class="col-sm-2">
                <label>{{transactionType}}</label>  
              </div> -->
          <label class="col-sm-3" style="font-weight: bold;">Transaction ID: <label>{{transactionID}}</label></label>

          <label class="col-sm-3" style="font-weight: bold;">Company A/C Number:
            <label>{{siteBankAccountNumber}}</label></label>




        </div><br>

        <!-- <div class="row clearfix">
              <label class="col-sm-2 lableclass" style="font-weight: bold;"> Transaction ID:</label>
              <div class="col-sm-2">
                <label>{{transactionID}}</label>  
              </div>
            </div><br><br> -->

        <div class="rowtitlecls">

          <div class="row clearfix">

            <div class="col-sm-3">
              <div class="form-group">
                <label class="required"> Reference No:</label>
                <input type="text" disabled
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="ReferenceID">
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label class="required">Received Date:</label>
                <input type="date" disabled
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="transactionDateID">
              </div>
            </div>


            <div class="col-sm-3">
              <div class="form-group">
                <label class="required">Payment Mode:</label>
                <input type="text" disabled
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="paymentModeID">
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label class="required">Transaction Amount:</label>
                <input type="number" disabled
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="transactionAmountID" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


          </div><br>

          <!-- <div class="row clearfix">
              <label class="col-sm-2 lableclass"> From Bank:</label>
              <div class="col-sm-2">
                <div class="form-line center">
                  <select style="width:100%" disabled class="form-group"  id="bankNameID" single>
                  </select>
                </div>
              </div> -->

          <!-- <label class="col-sm-2 lableclass"> Transaction Amount:</label>
              <div class="col-sm-2">
                <div class="form-line">
                  <input type="number" disabled style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"  id="transactionAmountID">
                </div>
              </div> -->

          <!-- <label class="col-sm-2 lableclass datalable"> Payable Amount:</label>
              <div class="col-sm-2">
                <div class="form-line">
                  <input type="text" disabled style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"  id="PayableAmount">
                </div>
              </div> -->
          <!-- </div><br> -->


          <div class="row clearfix" style="position: relative;
        top: -23px;">



            <div class="col-sm-3">
              <div class="form-group">
                <label>Customer Bank Name:</label>
                <select style="width:100%" disabled class="form-group" id="bankNameID" single>
                </select>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label class="required">Project Name:</label>
                <select disabled style="width:100%" class="form-group" id="ProjectId" single></select>
              </div>
            </div>


            <div class="col-sm-3">
              <div class="form-group">
                <label>Block Name:</label>
                <select disabled style="width:100%" class="form-group" id="BlockId" single></select>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label class="required">Flat No:</label>
                <select disabled style="width:100%" class="form-group" id="FaltId" single></select>
              </div>
            </div>

          </div>

        </div>

        <div id="custdet_div"
          style="width:100%;border:solid 1px #000;height: 40px;padding: 10px;border-radius:10px;margin-top: 24px;display:none">
          <div style="float:left; width:50%"><b>Customer Name:</b> <span id="custname"
              style="font-weight: 900;">{{customerName}}</span></div>
          <div style="float:left;width:20%">Pending Amount:<span id="pendingamnt"
              style="font-weight: 900;">{{totaldueamount | number}}</span></div>

        </div><br>


       


          <div class="row clearfix">
            <div class="col-sm-12">
              <label>MIS Comments:</label>
              <div style="border: 1px solid #d5bbbb;
              border-radius: 5px;
              padding: 20px;
              overflow: auto;
              ">
                <div class="row clearfix" *ngFor="let item of previousCRMComments">
                  <label style="position: relative;left: 16px;">{{item.empName}}: {{item.comments}}</label>

                </div>
              </div>
            </div>


         



          <!-- <label class="col-sm-3 lableclass datalable">Attached Files:</label>
              <div class="col-sm-3">
                <li *ngFor="let item of docListArray">
                  <a (click)="viewFiles(item.documentLocation)" style="text-decoration: underline; color: #007bff; cursor: pointer;">{{item.documentName}}</a>
                </li>
              </div> -->
        </div><br>


        <div id="PaymentSetOffDiv" style="border:solid 1px #000;padding: 15px;border-radius:10px;">
          <div class="row clearfix">
            <label class="col-sm-2">Principal Amount:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input disabled value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="PrincipalAmount" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <label class="col-sm-2">Corpus Fund:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input disabled value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="CorpusFund" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <label class="col-sm-2">Maintenance Charges:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input disabled value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="MaintinaceCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
          </div>

          <div class="row clearfix">

            <div class="col-sm-2">
              <div class="form-line"> Flat Khata Bifurcation:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="FlatKhataBifurcation" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <label class="col-sm-2">Interest:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input disabled value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="InterstAmount" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            <label class="col-sm-2">Modification Charges:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input disabled value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="ModificationCharges" (keyup)="modificationInvoice($event)"
                  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


          </div>

          <div class="row clearfix">

            <label class="col-sm-2">Legal Charges:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input disabled value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="LeagalCharges" (keyup)="legalInvoice($event)" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <label class="col-sm-2">Refundable Advance:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input disabled value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="refundableAdvanceID" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <label class="col-sm-2">Modification Invoice:</label>
            <div class="col-sm-2">
              <div class="form-line" class="center">

                <p class="sas" *ngIf="modificationInvoiceNumber" (click)="modificationInvoiceNumberfun()">
                  {{modificationInvoiceNumber}}</p>
                <p class="sas1" *ngIf="!modificationInvoiceNumber"> - </p>

                <!-- <select disabled style="width:100%" class="form-group" id="ModificationInvoiceId" single>
                  <option value="">--Select--</option>
                </select> -->
              </div>
            </div>
            <label class="col-sm-2">Legal Invoice:</label>
            <div class="col-sm-2">
              <div class="form-line" class="center">

                <p class="sas" *ngIf="legalChargeInvoiceNumber" (click)="legalChargeInvoiceNumberfun()">
                  {{legalChargeInvoiceNumber}}</p>
                <p class="sas" *ngIf="!legalChargeInvoiceNumber"> - </p>

                <!-- <select disabled style="width:100%" class="form-group" id="LegalInvoiceId" single>
                  <option value="">--Select--</option>
                </select> -->
              </div>
            </div>

            <div class="col-sm-2">
              <label> TDS Amount:</label>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="TdsAmount" (keyup)="paidbynamefun($event)" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <label> Paid By:</label>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <select style="width:100%;text-transform: lowercase!important;" class="form-group" id="paidbyname"
                  single>
                  <option value="select">Select</option>
                  <option value="Customer">Customer</option>
                  <option value="Ams">Ams</option>
                </select>
              </div>
            </div>




          </div>

          <div class="row" style="position: relative;top: 14px;">
            <div class="col-sm-2">
              <div class="form-line"> Car Parking Cost:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="carparkingcost" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-line">Car Parking Invoice: </div>
            </div>
            <div class="col-sm-2">
              <p class="sas" *ngIf="carparkingInvoiceID" (click)="carparkingInvoiceNumberfun()">
                {{carparkingInvoiceID}}</p>
              <p class="sas" *ngIf="!carparkingInvoiceID"> - </p>
            </div>


            <div class="col-sm-2">
              <div class="form-line"> Registration And Mutation Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Registration_and_Mutation_Charges"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>



          </div>



          <div class="row" style="position: relative;top: 12px;">
            <div class="col-sm-2">
              <div class="form-line">Non-refundable Caution Deposit:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Non_refundable_Caution_Deposit"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-line"> Electricity Deposit:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Electricity_Deposit"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
          </div>




        </div><br>


        <!-- <div class="row clearfix">
                <div class="col-sm-2"><div class="form-line"> CRM Comments:</div></div>
                <div class="col-sm-4">
                  <div class="form-line">
                    <textarea id="CrmCommentsId" class="materialize-textarea" data-length="120"></textarea>
                  </div>
                </div>
 
               
              </div><br> -->

              



        <div class="row clearfix">

          
            <div class="col-sm-6">
              <label>Bank Statement Comments:</label>
              <div style="border: 1px solid #4d474785; border-radius:10px; padding: 10px;">
                <div class=" clearfix" *ngFor="let item of Bank_Statement_Comments">
                 
                  <p>{{item.comments}}</p>
                </div>
              </div>
            </div>


          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label>Bank Statement Comments:</label>
              <div style="border: 1px solid #d5bbbb;
              border-radius: 5px;
              padding: 20px;
              overflow: auto;
              ">
                <div class="row clearfix" *ngFor="let item of Bank_Statement_Comments">
                  <label style="position: relative;left: 16px;">{{item.empName}}: {{item.comments}}</label>

                </div>
              </div>
            </div>
          </div> -->



          <div class="col-sm-6" id="userCommentsField">
            <div class="form-group">
              <label>Comments:</label>
              <textarea style="border-radius:4px;" id="CustomerCommentsId" maxlength="500" data-length="120"></textarea>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label class="required">Source of funds:</label>
              <select style="width:100%" class="form-group" disabled id="Sourcefound" single>
                <option value="select">Select</option>
                <option value="Bank">Bank</option>
                <option value="Self">Self</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4" *ngIf="docListArray?.length">
            <div class="form-group">
              <label>Attached Files:</label>
              <li *ngFor="let item of docListArray">
                <a (click)="viewFiles(item.documentLocation)"
                  style="text-decoration: underline; color: #007bff; cursor: pointer;">{{item.documentName}}</a>
              </li>
            </div>
          </div>


          <!-- <label class="col-sm-2" id="userCommentsLabel" style="font-weight: bold;">*Comments:</label>
                <div class="col-sm-4" id="userCommentsField">
                  <div class="form-line">
                    <textarea maxlength="500" style="border-radius:4px;" id="CustomerCommentsId" data-length="120"></textarea>
                  </div>
                </div> -->

          <!-- <label class="col-sm-2 lableclass datalable">Customer Comments:</label>
                <div class="col-sm-4">
                  <div class="form-line">
                    <p style="border: 1px solid #4d474785; padding: 10px; border-radius:10px;">{{customerComments}}</p>
                  </div>
                </div> -->
        </div><br>

        <div *ngIf="transactionStatusNameval == 'Transaction Completed'">
          <label style="position: relative;top: 15px;" *ngIf="documentLocation?.length"><b>Attachment File :</b></label>
          <div *ngFor="let p of documentLocation">
            <img src="assets/images/file1.png" (click)="attachmentlink(p.documentLocation)"
              style=" width: 90px; margin-top: 18px;">
          </div>
        </div>


        <div style="text-align:center;" id="actionButtons">
          <button type="button" class="btn-hover color-1" (click)="CRMReceiptonlineSubmit()">Submit</button>
        </div>

      </div>
    </div>

    <div class="container" style="text-align:center;"
      *ngIf="transactionStatusNameval == 'Transaction Completed' && deptid == 993">
      <button type="button" class="btn-hover color-1" (click)="Deletelistfun()">Delete</button>
    </div>

  </div>

</section>