<style>

  input[type="date"]::-webkit-calendar-picker-indicator {
      cursor: pointer;
      border-radius: 4px;
      margin-right: 2px;
      opacity: 0.9;
      filter: invert(0.8);
      position: absolute;
      right: 35px;
    }
  
    ::ng-deep .my-class .modal-dialog {
      max-width: 30%;
      width: 30%;
  
    }
  
    input[type="date"]::-webkit-datetime-edit,
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-clear-button {
      color: #fff;
      position: relative;
    }
  
    input[type="date"]::-webkit-datetime-edit-year-field {
      position: absolute !important;
  
      padding: 2px;
      color: #000;
      left: 70px;
  
    }
  
    input[type="date"]::-webkit-datetime-edit-month-field {
      position: absolute !important;
     
      padding: 2px;
      color: #000;
      left: 33px;
      content: "-";
    }
  
    input[type="date"]::-webkit-datetime-edit-day-field {
      position: absolute !important;
      color: #000;
      padding: 2px;
      left: 4px;
  
    }
    .bottomcls {
      position: relative;
      top: 0px;
      font-weight: 600;
      font-size: 18px;
      width: 40%;
    }
    .ng-autocomplete {
      width: 100% !important;
    }
    .fromtoclass {
      position: relative;
      left: 38px;
      color: orangered;
      font-weight: bold;
      font-size: 13px;
      width: 90%;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      top: -17px;
      font-weight: 600;
      font-family: 'Poppins';
      background-color: #FFF;
    }
  
    .sas {
      padding: 10px;
      border: solid#bbb 0.5px;
      border-radius: 10px;
      margin-top: 5px;
    }
  </style>
  
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row" style="position: relative;
        left: 19px;top: 5px;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Lendor</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a>
                  <i class="fas fa-home" style="cursor:pointer;" (click)="homeClick()"></i> Lendor </a>
              </li>
               <li class="breadcrumb-item bcrumb-2">
                <a (click)="lendorList()">
                  
                  <i style="cursor:pointer;" ></i> Lendor List </a>
                
              </li> 
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Lendor Details</a>
              </li>
  
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row clearfix" class="col-lg-12 col-md-12 col-sm-12">
          <div class="card" style="border:solid 0.5x #000;padding:10px;">
            <div  class="row clearfix" style="padding: 10px;"> 

              <div class="col-sm-3"></div>
              <div class="col-sm-3">
                <label style="font-weight: bold;" class="required">Alias Name:</label>
                <div class="form-line">
                  <input disabled type="text" maxlength="50" [(ngModel)]="alias_name" (keyup) = 'alias_Name($event)'
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px;height: 30px;"
                    class=" form-control" id="alias_name">
                </div>
              </div>
              <div class="col-sm-3">
                <label style="font-weight: bold;" class="required">Name:</label>
                <div class="form-line">
                  <input disabled type="text" maxlength="50" (keyup) = 'valid_name($event)'  [(ngModel)]="name"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px;height: 30px;"
                    class=" form-control" id="name">
                </div>
              </div>
              <div class="col-sm-3"></div>
            </div>
            <div  class="row clearfix" style="padding: 10px;">

              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <label style="font-weight: bold;" class="required">Address:</label>
                <div class="form-line">
                  <textarea disabled type="text" [(ngModel)]="address"
                    style="border: 1px solid #4d474785;border-radius:5px;height: 70px;"
                    class=" form-control" id="address"></textarea>
                </div>
              </div>
            
              <div class="col-sm-3"></div>
            </div>
            <div  class="row clearfix" style="padding: 10px;">

              <div class="col-sm-3"></div>
              <div class="col-sm-3">
                <label style="font-weight: bold;">Mobile Number:</label>
                <div class="form-line">
                  <input disabled type="number" maxlength="10" [(ngModel)]="mobileNumber" (keyup) = 'checkmob_num($event)'
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px;height: 30px;"
                    class=" form-control" id="mobileNumber">
                </div>
              </div>
              <div class="col-sm-3">
                <label style="font-weight: bold;">Email Id:</label>
                <div class="form-line">
                  <input disabled type="email" maxlength="20" [(ngModel)]="emailId"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px;height: 30px;"
                    class=" form-control" id="emailId">
                </div>
              </div>
              <div class="col-sm-3">
                <label style="font-weight: bold;">Created Date:</label>
                <div class="form-line">
                  <input disabled type="text" maxlength="20" [(ngModel)]="createdDate"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px;height: 30px;"
                    class=" form-control" id="createdDate">
                </div>

              </div>
            </div>

          <!-- <div  class="row clearfix" style="padding: 10px;"> 
              <div class="col-sm-3"></div>
              <div class="col-sm-3">
                <button type="button" class="btn-hover color-1" (click)="updateLender()"
                style="width: 200px;position: relative;top: 8px;">Update</button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn-hover color-1" (click)="deleteLender()"
                style="width: 200px;position: relative;top: 8px;">Delete</button>
              </div>
              <div class="col-sm-3"></div>
             
             
            </div> -->
      </div>
    </div>
    </div>
    </div>
  </section>