<section class="content">
  <div class="container-fluid">
    <div class="block-header">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Change Password</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" (click)="homeClick()"></i>Services</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Change Password</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div class="col-sm-12 center">
                      <p class="lableclass" style="font-size: large;">Create new and strong password</p>
                    </div>
                  </div>
                  
                  <div class="row clearfix">
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                        <label class="lableclass" style="font-weight: bold;">*Old Password:</label>
                        <div class="form-line">
                          <input type="password" style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"  id="oldPW">
                        </div>
                      </div>
                      <div class="col-sm-4"></div>
                  </div>

                  <div class="row clearfix">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                      <label class="lableclass"  style="font-weight: bold;">*New Password:</label>
                      <div class="form-line">
                        <input type="password" style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"  id="createPW">
                      </div>
                      <p>Atleast six characters</p>
                    </div>
                    <div class="col-sm-4"></div>
                  </div>

                  <div class="row clearfix">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                      <label class="lableclass"  style="font-weight: bold;">*Confirm Password:</label>
                      <div class="form-line">
                        <input type="password" style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"  id="confirmPW">
                      </div>
                    </div>
                    <div class="col-sm-4"></div>
                  </div>

                  <div style="text-align:center;">
                    <button type="button" class="btn-hover color-1" (click)="changePassword()">Change Password</button>
                  </div>

                </div>
            </div>
        </div>
    </div>
    
  </div>
</section>
