<div class="row" *ngIf="preloader">
  <div class="col-sm-12">
    <div class="content__loader">
      <div><i class="Favicon"></i></div>
    </div>
  </div>
</div>


<div style="width:100%; z-index: 99999999;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
background: #eee;
overflow: hidden;
text-align: center;" *ngIf="loaderhideme">
  <img style="width:50px" class="loading-img-spin" src="assets/images/loader_img.gif" width="20" height="20"
    alt="admin">
</div>

<style>

.my__textoverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: block;
  }




  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.9;
    filter: invert(0.8);
    position: absolute;
    right: 35px;
  }

  ::ng-deep .my-class .modal-dialog {
    max-width: 30%;
    width: 30%;

  }

  input[type="date"]::-webkit-datetime-edit,
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
  }

  input[type="date"]::-webkit-datetime-edit-year-field {
    position: absolute !important;

    padding: 2px;
    color: #000;
    left: 70px;

  }

  input[type="date"]::-webkit-datetime-edit-month-field {
    position: absolute !important;
   
    padding: 2px;
    color: #000;
    left: 33px;
    content: "-";
  }

  input[type="date"]::-webkit-datetime-edit-day-field {
    position: absolute !important;
    color: #000;
    padding: 2px;
    left: 4px;

  }
  .showallcls {
    width: 100%;
    text-align: center;
    position: relative;

    text-decoration: underline;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
  }

  .fromtoclass {
    position: relative;
    left: 38px;
    color: orangered;
    font-weight: bold;
    font-size: 13px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    top: 0px;
    font-weight: 600;
    font-family: 'Poppins';
   
  }

  .ng-autocomplete {
    width: 100% !important;
  }

  .searchclass {
    right: 13px !important;
    /* width: 20% !important; */
    position: relative !important;
    bottom: 0 !important;
    border: 1px solid #607D8B !important;
    color: #000 !important;
    border-radius: 6px !important;
  }

  .search-hero {
    width: 100%;
    text-align: right;
  }

  .bottomcls {
    position: relative;
    top: 14px;
    font-weight: 600;
    font-size: 18px;
    width: 40%;
  }

  .form-check,
  label {
    font-size: 14px;
    line-height: 1.42857;
    color: #414244;
    font-weight: 400;
    font-family: 'Poppins' !important;
  }
</style>

<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">View Closed Complaints </h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" (click)="homeClick()"></i>Complaints</a>
            </li>
            <!-- <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Ticket</a>
            </li> -->
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">View Closed Complaints </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">

            <form [formGroup]="fg">
              <div class="row clearfix">

                <div class="col-sm-3">
                  <div class="form-line">
                    <p class="fieldHeaders">
                      <label style="font-weight: bold;">Project Name:</label>
                    </p>
                    <div class="center" style="position: relative;top: -16px;">
                      <select style="width:100%;" class="form-group" id="projectID" multiple>
                        <!-- <option value="select">--Select--</option> -->
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">

                  <div class="form-line">
                    <label style="font-weight: bold;">Customer Name/ Flat No:</label>
                    <div class="center">
                      <select style="width:100%;height: 41px!important" id="customerID">
                        <option value="select">--Select--</option>
                      </select>
                    </div>
                  </div>

                </div>
                <!-- <div class="col-sm-3">
                  <div class="form-line">
                    <label style="font-weight: bold;">From Date:</label>
                    <div class="center">
                      <span style="position: absolute;left: 28px;top: 8px;font-weight: 600;">/</span>

                      <span style="position: absolute;left: 64px;top: 8px;font-weight: 600;">/</span>
                      <input type="date" placeholder="Select Date"
                        style="border: 1px solid #4d474785; text-align: center;border-radius:10px;height:30px"
                        class=" form-control" id="fromDate" formControlName="from" [max]="getToday()">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-line">
                    <label style="font-weight: bold;">To Date:</label>
                    <div class="center">
                      <span style="position: absolute;left: 44px;
                      top: 35px;font-weight: 600;">/</span>

                      <span style="position: absolute;left: 79px;
                      top: 34px;font-weight: 600;">/</span>
                      <input type="date" placeholder="Select Date"
                        style="border: 1px solid #4d474785; text-align: center;border-radius:10px;height:30px"
                        class=" form-control" id="toDate" formControlName="to" [max]="getToday()">
                    </div>
                  </div>
                </div> -->
                <div class="col-sm-3" style="margin-top: -13px">
                  <div class="form-line">
                    <label style="position: relative;top: 10px;font-weight: bold;">Start Date:</label>
                    <div class="center" style="position: relative;top: 9px;">
    
                      <span class="material-icons" style="position: absolute;
                    right: 19px;top: 7px;font-size: 20px;z-index: 9999;" (click)="startdatefun()">cancel </span>
    
                      <span style="position: absolute;left: 28px;top: 8px;font-weight: 600;">/</span>
    
                      <span style="position: absolute;left: 64px;top: 8px;font-weight: 600;">/</span>
    
    
                      <input type="date" data-date="" data-date-format="DD MMMM YYYY"
                        style="border: 1px solid #4d474785; text-align: center;border-radius:10px;height:30px"
                        class=" form-control" id="fromDate" formControlName="from" [max]="getToday()">
                    </div>
                  </div>
                </div>
    
                <div class="col-sm-3" style="margin-top: -13px">
                  <div class="form-line">
                    <label style="position: relative;top: 10px;font-weight: bold;">End Date:</label>
                    <div class="center" style="position: relative;top: 9px;">
                      <span class="material-icons" style="position: absolute;
                    right: 19px;top: 7px;font-size: 20px;z-index: 9999;" (click)="endtimefun()">cancel </span>
    
                      <span style="position: absolute;left: 28px;top: 8px;font-weight: 600;">/</span>
    
                      <span style="position: absolute;left: 64px;top: 8px;font-weight: 600;">/</span>
    
                      <input type="date" placeholder="Select Date"
                        style="border: 1px solid #6d6c6c85; text-align: center;border-radius:10px;height:30px"
                        class=" form-control" id="toDate" formControlName="to" [max]="getToday()">
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <label style="font-weight: bold;">Complaint Number:</label>
                  <div class="form-line">
                    <input type="number"
                      style="border: 1px solid #4d474785; text-align: center;border-radius:5px;height: 30px;"
                      class=" form-control" id="Ticketnumber">
                  </div>
                </div>

               
                <!-- <div class="col-sm-3">
                  <label style="font-weight: bold;">Customer Name:</label>
                  <div class="ng-autocomplete">
                    <form [formGroup]="autocompleteform">
                      <ng-autocomplete [data]="countries" [searchKeyword]="keyword"
                        placeHolder="Enter the Customer Name" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                        (inputCleared)="onClearSearch($event)" historyIdentifier="countries"
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" #auto
                        formControlName="employeename">
                      </ng-autocomplete>
                      <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                      </ng-template>

                      <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                      </ng-template>

                    </form>
                  </div>

                 <div class="form-line">
                    <input type="text" style="border: 1px solid #4d474785; text-align: center;border-radius:10px;"
                      class="form-control autocomplete" id="customername" (blur)="customerDetails($event)">
                  </div> 
                </div> -->


                <div class="col-sm-8">
                  <p *ngIf="fg.touched && fg.invalid" class="fromtoclass">To Date should be greater than or equal to From
                    Date</p>
                  <button type="button" class="btn-hover color-1" (click)="searchfun()"
                    style="width: 200px;position: relative;top: 8px;">Search</button>
                  <span style="position: relative;top: 8px;">(OR)</span>
                  <button type="button" class="btn-hover color-1" (click)="showallfun()"
                    style="width: 200px;position: relative;top: 8px;">Show
                    All</button>
                </div>

              
              </div>
            </form>




            <!-- <div class="row clearfix" style="padding: 10px;">
              <div class="col-sm-4 center"></div>
              <div class="col-sm-4 center">
                <button type="button" style="margin-top: 1px;" class="btn-hover color-1"
                  (click)="searchfun()">Search</button>
              </div>
              <div class="col-sm-4 center"></div>
              <div class="col-sm-4">
                <div class="form-line">
                  <label style="font-weight: bold;">From Date:</label>
                  <div class="center">
                    <input type="date" placeholder="Select Date"
                      style="border: 1px solid #4d474785; text-align: center;border-radius:10px;height:30px"
                      class=" form-control" id="fromDate" [max]="getToday()">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-line">
                  <label style="font-weight: bold;">To Date:</label>
                  <div class="center">
                    <input type="date" placeholder="Select Date"
                      style="border: 1px solid #4d474785; text-align: center;border-radius:10px;height:30px"
                      class=" form-control" id="toDate" [max]="getToday()">
                  </div>
                </div>
              </div>
            </div> -->


            <!-- <div style="text-align: center;
            position: relative;
           
            font-weight: 600;">(OR)</div>
            <div class="showallcls"><a style="cursor: pointer" [routerLink]="" (click)="showallfun()">Show All</a></div> -->

          </div>
        </div>

        <div style="width:100%;text-align:center;" *ngIf="loaderhideme">
          <img src="https://i.redd.it/ounq1mw5kdxy.gif" style="width: 400px;height: 400px;">
        </div>

        <div class="card" *ngIf="ticketList?.length">
          <div class="card-body">

            <!-- <div class="col-md-2" style="float: right;" *ngIf="ticketList?.length">
              <input style="text-align:center;border:1px solid;margin-top: 10px;" class="effect-9" name="search"
                [(ngModel)]="searchText" type="text" placeholder="Search Here">
              <span class="focus-border">
                <i></i>
              </span>
            </div> -->

            <div class="table-responsive">
              <ul>
                <li>
                  <table id="tableExport" *ngIf="ticketList?.length"
                    class="display table table-hover table-checkable table-striped order-column width-per-100">
                    <!-- *ngIf="(ticketList | filter: searchText).length > 0; else noResults" -->
                    <thead>
                      <tr>
                        <th class="center">S.NO</th> 
                        <th class="center"> Complaint Number</th>
                        <th class="center">Description</th>
                        <th class="center">Received Date</th>
                        <th class="center">Customer Name</th>
                        <th class="center">Project Name</th>
                        <th class="center">Ticket type</th>
                        <th class="center">Pending Department</th>
                        <th class="center">Status</th>
                        <th class="center">Closed Date</th>
                        <th class="center">Closed By</th>
                        <th class="center"> Rating </th>
                        <th class="center">Feedback</th>
                        <th class="center">Flat No</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="ticketList.length == 0">
                        <td class="center" colspan="8" id="noData"> No Data Available</td>
                      </tr>
                      <tr
                        *ngFor="let data of ticketList;let i=index;"
                        class="ticketList" (click)="gotoTicketDetailspage(data)">
                        <td class="center">{{i+1}}</td>
                        <td class="center"><a>{{data.complaintId}}</a></td>
                        <td class="center"><a class="leadId my__textoverflow">{{data.description}}</a></td>
                        <td class="center">
                          <!-- <span *ngIf="data.createdDate != null" style="display: none;">{{data.createdDate}}</span> -->
                          <span *ngIf="data.createdDate != null">{{data.createdDate| date : 'dd/MM/yyyy'}}</span>
                          <span *ngIf="data.createdDate == null"> - </span>
                        
                        </td>

                        <td class="center">{{data.customerPropertyDetails.customerName}}</td>
                        <td class="center">{{data.customerPropertyDetails.siteName}}</td>
                        <td class="center">{{data.complaintType.complaintType}}</td>
                        <td class="center">{{data.department.departmentName}}</td>
                        <td class="center">
                          <div class="badge" [ngStyle]="{'color':getColor(data.status)}">{{data.status}}</div>
                        </td>

                        <td class="center">
                          
                          
                          <!-- <span *ngIf="data.resolvedDate != null" style="display: none;">{{data.resolvedDate}}</span> -->
                          <span *ngIf="data.resolvedDate != null">{{data.resolvedDate| date : 'dd/MM/yyyy'}}</span>
                          <span *ngIf="data.resolvedDate == null"> - </span>
                        
                        </td>
                        <td class="center">{{data.complaintClosedBy}}</td>
                        <td class="center"> {{data.rating}} </td>
                        <td class="center">{{data.feedbackDesc}} <span *ngIf="data.feedbackDesc == null"> - </span></td>
                        <td class="center">{{data.customerPropertyDetails.flatNo}}</td>
                      </tr>
                    </tbody>
                  </table>




                </li>
              </ul>

            </div> <br>

            <!-- <pagination-controls style="float: right; font-size: 18px" (pageChange)="pageChanged($event)"
              *ngIf="ticketList?.length">
            </pagination-controls> -->
            <!-- <div class="bottomcls" *ngIf="ticketList?.length">Total Complaints : <span
                *ngIf="total_tickets == null">-</span> <span *ngIf="total_tickets !== null">{{total_tickets}}</span>
            </div> -->


          </div>
        </div>


        <div class='card' *ngIf=" ticketList.length == 0 && loaderhideme == false">
          <div class="card-body">
            <p style="font-size: 17px;font-family: 'Poppins';position: relative; top: 7px;font-weight: 500;">No data found</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>