<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<style>
  .backbutton {
    position: absolute;
    right: 24px;
    top: 98px;
    width: auto;
    color: #FFF;
    background: #F44336;
    border: none;
  }

  .marksofcomplaint {
    position: relative;
    right: 0;
    top: -12px;
  }

  .loadercls {
    position: relative;
    left: 8px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    top: 2px;
  }
</style>


<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <span>
                <h4 class="page-title">
                  <!-- <i style="font-size:24px; cursor: pointer; padding: 4px 16px 1px 1px;" (click)="backToList()" class="fa fa-arrow-left"></i> -->
                  Ticket Details</h4>
              </span>
              <!-- <span *ngIf=" this.binding_parentpage != 'View All Tickets'">
                <h4 class="page-title">
                  Ticketing</h4>
              </span> -->
             
            </li>
            
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" (click)="homeClick()"></i> <span (click)="ticketingnav(reportdetails)">{{reportdetails}}
                </span> </a>
            </li>
            <li class="breadcrumb-item bcrumb-2" *ngIf="breadCrumbViewTickets" routerLink="/Ticketing-Dashboard/View-Tickets">
              <a style="cursor: pointer;" href="#" onClick="return false;">View Tickets</a>
            </li>
            <li class="breadcrumb-item bcrumb-2" *ngIf="breadCrumbUnRespondingTickets" routerLink="/UnResponding-Tickets">
              <a style="cursor: pointer;" href="#" onClick="return false;">UnResponding Tickets</a>
            </li>
            <!-- <li class="breadcrumb-item bcrumb-2" *ngIf ="this.parent_condition == 'view_my_tickets'" (click)="view_my_tickets()">
              <a href="#" onClick="return false;"  >{{this.binding_parentpage}}</a>
            </li> 

            <li class="breadcrumb-item bcrumb-2" *ngIf ="this.parent_condition == 'viewtickets'" (click)="viewalltickets()">
              <a href="#" onClick="return false;"  >{{this.binding_parentpage}}</a>
            </li> 
            <li class="breadcrumb-item bcrumb-2" *ngIf ="this.parent_condition == 'changeticketowner'" (click)="changeticketowner()">
              <a href="#" onClick="return false;"  >{{this.binding_parentpage}}</a>
            </li>
            <li class="breadcrumb-item bcrumb-2" *ngIf ="this.parent_condition == 'view_closed_tickets'" routerLink="/view-closed-tickets">
              <a href="#" onClick="return false;"  >{{this.binding_parentpage}}</a>
            </li>
            <li class="breadcrumb-item bcrumb-2" *ngIf ="this.parent_condition == 'changetickettype'" (click)="changetickettype()">
              <a href="#" onClick="return false;"  >{{this.binding_parentpage}}</a>
            </li> -->
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Ticket Details</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="tickettotaldetailsresponse.length" [pageSize]="1" [pageIndex]="pageIndex"
  (page)="getServerData($event)">
</mat-paginator>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-8">
      <!-- <div class="card" >
        <div class="card-body">
          <h3>Ticket</h3>
          <p>{{this.ticketINfomessage}}</p>
        </div>
      </div> -->

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="card-body">
              <div class="row clearfix">
                <div class="col-sm-6">
                  <h3>Ticket</h3>
                </div> 
                <!-- <div class="col-sm-6" *ngIf = "(changeTicketTypeLink == true) && (ticketTypeChangeRequestID == null || ticketTypeChangeRequestID == 14 || ticketTypeChangeRequestID == 16)">
                  <h5 style="cursor: pointer; text-align: right;text-decoration: underline;" (click)="openChangeTicketTypeModal()">Change Ticket Type</h5>
                </div>
                <div class="col-sm-6" *ngIf = "(remindAgainLink == true) && (ticketTypeChangeRequestID != null && ticketTypeChangeRequestID == 34)">
                  <h5 style="cursor: pointer; text-align: right;text-decoration: underline;" (click)="remindAgainAction()">Remind Again</h5>
                </div> -->
              </div>
              <p>{{this.ticketINfomessage}}</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-11">
              <h4>Ticket Replies</h4>
            </div>
            <!-- <div class="col-xs-6 col-sm-6 col-lg-1">
              <i style="font-size:24px" class="fa" (click)="getTicketDetails()">&#xf021;</i>
            </div> -->
          </div>
          <ul class="list-unstyled m-t-40" style="height: 500px; overflow-y: auto;overscroll-behavior-y: none">
            <div *ngFor="let data of ticketmessageData">
              <li class="media">
                <img *ngIf="data.profilepic == null" alt="Generic placeholder image" class="m-r-15" alt="user_image"
                  src="https://img.icons8.com/bubbles/2x/user.png" width="60">
                <img *ngIf="data.profilepic != null" alt="Generic placeholder image" class="m-r-15"
                  src="{{data.profilepic}}" width="60">
                <div class="media-body" style="float:left">
                  <h5 class="mt-0 mb-1">{{data.name}}</h5>
                  <p>{{data.desc}}</p>
                  <div [innerHTML]="data.message">

                  </div>
                  <!-- <p><span [innerHTML]="data.message"></span>&nbsp;&nbsp;
                  </p> -->
                  <span class="pull-right">{{data.commentsDate|date : 'EEEE, MMMM d, y h:mm a'}}</span>
                </div>
              </li>
              <hr>
            </div>
          </ul>
        </div>
      </div>
      <!-- CKEditor -->
      <!-- <div class="card" >
        <div class="card-body">
          <div class="row clearfix" id="hidingclass">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card" style="border:0">
                <div class="header replayheader">
                  <h2>
                    <strong>Write a reply</strong>
                  </h2>

                </div>
                <div class="body" id="ckeditorMainDiv">
                  <div id="CKEditiorDiv">
                    <textarea id="ckeditor">
                    </textarea>
                  </div>
                  <p class="text-danger ckeditorerrormessage" id="ckeditorError">{{ckeditorError}}</p>
                </div>
              </div>
            </div>
          </div>
          
          <div id="hidingclass2">
            <h4 class="text-left Mrgtop20"><strong>You can upload Images/Files here </strong></h4>
            <P><strong>Maximum File Upload Size: 25MB</strong></P>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="inputfile">
            <input type="file" accept=".pdf,.xlsx,.xls,.txt,.docx,.jpeg,.png,.jpg" style="width: 96px;" id="files" multiple (change)="handleFileSelect($event)">
          </div><br>
          <div [hidden]="hidepdf">
              <span class="block" *ngFor="let file of file_name_array; let i= index;">
                  <span style="font-weight: 600; padding: 6px;">{{file}}</span><i (click)="deleteFile(file)" class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                  <br>
              </span>
          </div>

          <div class="row clearfix" id="fileLinkField" style="display: none;">
            <div class="col-sm-8" style="padding-left: 32px;">
              <div class="form-line">
              <label style="font-weight: bold;">Please copy the file link here:</label>
                <textarea style="border-radius: 4px; height: 52px; padding: 5px;" maxlength="500" id="driveLinkField" data-length="120"></textarea>
              </div>
            </div>
          </div>
           
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button *ngIf="reply_ticket" class="btn-hover color-1" type="button" (click)="replyMessage()">Reply</button>
            <button *ngIf="forward_ticket" class="btn-hover color-1" type="button"
              (click)="openForwardModal()">Forward</button>
            <button *ngIf="seekinfo_ticket" class="btn-hover color-1" type="button" (click)="openSeekInfoModal()">Seek
              Info</button>
            <button *ngIf="viewrequestInfo" class="btn-hover color-1" type="button" data-toggle="modal"
              data-target="#viewrequestinfo" (click)="viewRequestInfo()">View Request Info</button>
            <button *ngIf="close_ticket" class="btn-hover color-1" type="button" data-toggle="modal"
              data-target="#closeticketmodal" (click)="closeTicket()">Close Ticket</button>
             
          </div>
          
        </div>
      </div> -->
      <!-- <button   *ngIf="change_ticketowner" style="width: 200px;margin-left: 40%;margin-top: -7px;" class="btn-hover color-1" type="button"
          (click)="ChangeTicketOwner()">Change Ticket Owner</button>  -->
      
          <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
            <button *ngIf="changeTcktTypeApprove" class="btn-hover color-1" type="button" (click)="openTicketTypeModel()">Approve</button>
            <button *ngIf="changeTcktTypeReject" class="btn-hover color-1" type="button"
              (click)="rejectChangeTicketType()">Reject</button>
          </div> -->
    </div>
 
 
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="margin-bottom: -1.25rem;">Ticket Info:</h4>
        </div>
        <!-- <div class="card-body bg-light">
          <div class="row text-center">
            <div class="col-4 m-t-10 m-b-10">
              <span class="label label-warning">{{view_ticketdetails_status}}</span>
            </div>
            <div class="col-8 m-t-10 m-b-10"> {{ticketInfo_createdDate| date : 'EEEE, MMMM d, y h:mm a'}}</div>
          </div>
        </div> -->
        <div class="card-body">
          <div class="row clearfix">
            <div class="col-md-6">
              <h5 class="m-t-30">Ticket Type</h5><span>{{ticket_type}}</span>
              <h5 class="m-t-30">Status</h5><span>{{view_ticketdetails_status}}</span>
              <h5 class="m-t-30">Pending Department</h5><span>{{department_Name}}</span>
              <h5 class="p-t-20">Flat Number</h5><span><a href="javascript:void(0);"
                  (click)="viewflatDetails(flat_Id,customer_id)">{{flat_number}}</a></span>
            </div>
            <div class="col-md-6">
              <h5 class="m-t-30">Ticket Number</h5><span>{{ticket_Id}}</span>
              <h5 class="m-t-30">Created Date</h5>
              <span>{{ticketInfo_createdDate| date : 'EEEE, MMMM d, y'}}</span>
              <!-- <h5 *ngIf ="this.parent_condition != 'view_closed_tickets'" class="m-t-30">Escalation Date</h5>
              <span *ngIf ="this.parent_condition != 'view_closed_tickets'">{{ticket_escalationdate| date : 'EEEE, MMMM d, y'}}</span>
              <h5 *ngIf ="this.parent_condition == 'view_closed_tickets'" class="m-t-30">Closed Date</h5>
              <span *ngIf ="this.parent_condition == 'view_closed_tickets'">{{resovedDate| date : 'EEEE, MMMM d, y'}}</span>
    -->
              <!-- <i [hidden]="escalationCalender_hide" class="fas fa-calendar-alt m-l-10" (click)="getExtendedEscalationTimeApprovalLevel()"></i> -->
              <h5 class="m-t-30">Project Name</h5><span>{{this.project_name}}</span>
            </div>
          </div>
        </div>
      </div>



      <div class="card">
        <div class="card-body" style="height:360px;overflow-y: auto" id="customerinfoid1">

          <div class="card-body text-center">
            <h4 class="card-title">Attachments</h4>
          </div>
          <div class="row text-center">

            <ul class="list-unstyled">
              <div *ngFor="let item of pdflist">
                <li class="media">
                  <img src="assets/images/file1.jpg" (click)="pdfClick(item.url)" class="m-r-15" width="60">
                  <div class="media-body" style="float:left;margin-right: 20px;">
                    <p style="text-align: left;" class="mt-0 mb-1">
                      <span *ngIf="item.createdType=='CUSTOMER'"
                        style="width: 80%;float: left;word-break: break-all;font-size: 16px;font-weight: 600;">Customer:
                        {{item.createdBy}}</span>
                      <span *ngIf="item.createdType=='EMPLOYEE'"
                        style="width: 80%;float: left;word-break: break-all;font-size: 16px;font-weight: 600;">{{item.createdBy}}</span>
                      <span style="float: left;width: 20%;"><img *ngIf="item.visibilty == 2" class="m-r-15"
                          src="assets/images/filename.png" (click)="makeasPublic(item.name,item.id)"
                          style="float: right;margin-right: 0px;height: 30px;width: 30px;"></span>
                    </p>
                    <p style="text-align: left;word-break: break-all;margin-top: 13px;clear: both;">{{item.name}}</p>
                  </div>
                </li>
                <hr>
              </div>
            </ul>

          </div>
        </div>





        <div style="position: absolute;
      margin-top: 40%;
      width: 100%;
      text-align: center;" *ngIf="customerhideme1">
          <button [disabled]="loading1" class="btn-hover color-1" style="width:300px!important;font-size: 15px;"
            (click)="Attachmentsfun()">
            Click here to view attachments 
            <span *ngIf="loading1" class="spinner-border spinner-border-sm mr-1 loadercls"></span>
          </button>
        </div>


      </div>





      <div class="card">
        <div class="card-body text-center" id="customerinfoid">
          <h4 class="card-title">Customer Info</h4>
          <div class="profile-pic m-b-20 m-t-20">
            <img id="customerinfoid" *ngIf="this.profilepic != null" alt="user" class="rounded-circle"
              src="{{this.profilepic}}" width="150">
            <img id="customerinfoid" *ngIf="this.profilepic == null" alt="user" class="rounded-circle"
              src="assets/images/customerimage.png" width="150">

            <h4 class="m-t-20 m-b-0"><a href="javascript:void(0)"
                (click)="viewCustomerDetails(customer_id,flat_Id)"><span>{{customer_name}}</span></a>
            </h4><a>{{customer_email}}</a>
          </div>
          <div class="row text-center m-t-40">
            <div class="col-4">
              <h3 class="font-bold">{{total_tickets}}</h3>
              <h6>Total</h6>
            </div>
            <div class="col-4">
              <h3 class="font-bold">{{total_open}}</h3>
              <h6>Open</h6>
            </div>
            <div class="col-4">
              <h3 class="font-bold">{{tickets_closed}}</h3>
              <h6>Closed</h6>
            </div>
          </div>
        </div>

        <div style="position: absolute;
           margin-top: 40%;
           width: 100%;
           text-align: center;" *ngIf="customerhideme">
          <button [disabled]="loading2" class="btn-hover color-1" style="width:200px!important;font-size: 15px;"
            (click)="Customerinfofun()">
            Customer Info
            <span *ngIf="loading2" class="spinner-border spinner-border-sm mr-1 loadercls"></span>
          </button>
        </div>


      </div>



    </div>
  </div>
  <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Escalation Date Extension</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="leave_start_date">Escalation Date</label>
            <div class="row clearfix">
              
              <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="datepicker form-control" placeholder="Please choose date"
                      id="escalationDate">
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <label for="remarks">Remarks</label>

                <div class="form-group">
                  <div class="form-line">
                    <input type="text" [(ngModel)]="escalation_remarks" id="remarks" class="form-control"
                      placeholder="Enter your remarks">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class=" text-center center-block">
              <button type="button" class="btn-hover color-1 cancelBtnColor" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn-hover color-1" (click)="saveEscaltionDetails()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="modal fade" id="changeticketinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">{{modellabel_name}}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="offset-md-1 col-md-10">
              <div class="row clearfix" style="border:solid 1px #bbb">
                <div class="col-md-8 offset-md-2 center-block text-center">

                  <b class="col-md-12 m-b-25 m-t-25 dept">Select Ticket Owner :</b>
                  <div class="col-md-12">
                    <select class="form-group" id="sel_ect">
                      <option value="select">--Select--</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 text-center center-block m-b-25">
                  <button type="button" class="btn-hover color-1 cancelBtnColor" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn-hover color-1" (click)="change_ticket_owner_modal_Data()">Submit</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="modal fade" id="seekinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">{{modellabel_name}}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="offset-md-1 col-md-10">
              <div class="row clearfix" style="border:solid 1px #bbb">
                <div class="col-md-8 offset-md-2 center-block text-center">

                  <b class="col-md-12 m-b-25 m-t-25 dept">Select Department :</b>
                  <div class="col-md-12">
                    <select class="form-group" id="sel">
                      <option value="select">--Select--</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 text-center center-block m-b-25">
                  <button type="button" class="btn-hover color-1 cancelBtnColor" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn-hover color-1" (click)="sendSeekInfo_forward_Data()">Submit</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="modal fade" id="closeticketmodal" tabindex="-1" role="dialog" aria-labelledby="closeticketmodal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="closeticketmodal">Close Ticket</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you want to close the ticket?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-hover color-1 cancelBtnColor" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn-hover color-1" (click)="closeticket()">Close Ticket</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="closeticketmodal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="closeticketmodal">View Request Information</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div role="tabpanel"> -->
              <!-- Nav tabs -->
              <!-- <ul class="nav nav-tabs" role="tablist" style="font-size: small">
                <li *ngFor="let item of seekInfoJson.genericTicketSeekInfos;let i=index;" role="presentation"
                  class="active"><a href="#tab{{i}}" aria-controls="uploadTab" role="tab"
                    data-toggle="tab">{{item.name}}</a>

                </li>
              </ul> -->
              <!-- Tab panes -->
              <!-- <div class="tab-content">
                <div role="tabpanel" [ngClass]="custom_Css(i)"
                  *ngFor="let item of seekInfoJson.genericTicketSeekInfos;let i=index;" id="tab{{i}}">
                  <div class="card">

                    <div class="card-body">
                      <div class="row clearfix">
                        <div class="col-md-9">
                          <h3>Seek Info Request</h3>
                          <p>{{ticketINfomessage}}</p>
                        </div>
                        <div class="col-md-3">
                          <p><span style="font-weight: bold;font-size:1.25rem">Request No : </span>
                            <span>{{item.requestId}}</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Seek Info Replies</h4>
                      <ul class="list-unstyled m-t-40" style="height: 500px; overflow-y: auto">
                        <div *ngFor="let data of item.ticketSeekInfo">
                          <li class="media">
                            <img *ngIf="data.profilepic == null" alt="Generic placeholder image" class="m-r-15"
                              alt="user_image" src="assets/images/user_seekinfo.png" width="60">
                            <img *ngIf="data.profilepic != null" alt="Generic placeholder image" class="m-r-15"
                              src="{{data.profilepic}}" width="60">
                            <div class="media-body" style="float:left">
                              <h5 class="mt-0 mb-1">{{data.employeeName}}</h5>
                              <p>{{data.desc}}</p>
                              <p><span [innerHTML]="data.message"></span>&nbsp;&nbsp;<span
                                  class="pull-right">{{data.createdDate| date : 'EEEE, MMMM d, y h:mm a'}}</span>
                              </p>
                            </div>
                          </li>
                          <hr>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> -->
    <!-- -----------custom menu------------ -->
    <!-- <div class="hide" id="rmenu">
      <ul>
        <li>
          <a href="http://www.google.com">Google</a>
        </li>

        <li>
          <a href="http://localhost:8080/login">Localhost</a>
        </li>

        <li>
          <a href="C:\">C</a>
        </li>
      </ul>
    </div> -->
    <!-- custom menu -->
  <!-- </div> -->

  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="modal fade" id="changeTicketTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Change Ticket Type Request</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="offset-md-1 col-md-10">
              <div class="row clearfix" style="border:solid 1px #bbb">
                <div class="col-md-2" style="margin-top:10px">
                  <label class="lableclass" style="font-weight: bold;">To:</label>
                </div>
                <div class="col-md-10" style="margin-top:10px">
                  <div class="form-line">
                    <p style="border: 1px solid #4d474785; word-break: break-word; padding: 10px; border-radius:10px;" id="toField">{{to}}</p>
                  </div>
                </div>

                <div class="col-md-2" style="margin-top:10px">
                  <label class="lableclass" style="font-weight: bold;">CC:</label>
                </div>
                <div class="col-md-10" style="margin-top:10px">
                  <div class="form-line">
                    <p style="border: 1px solid #4d474785; word-break: break-word; padding: 10px; border-radius:10px;" id="ccField">{{cc}}</p>
                  </div>
                </div>

                <div class="col-md-2" style="margin-top:10px">
                  <label class="lableclass" style="font-weight: bold;">Subject:</label>
                </div>
                <div class="col-md-10" style="margin-top:10px">
                  <div class="form-line">
                    <p style="border: 1px solid #4d474785; word-break: break-word; padding: 10px; border-radius:10px;" id="subjectField">{{subject}}</p>
                  </div>
                </div>

                <div class="col-md-2" style="margin-top:10px">
                  <label class="lableclass" style="font-weight: bold;">Message Body:</label>
                </div>
                <div class="col-md-10" style="margin-top:10px">
                  <div class="form-line" style="border: 1px solid #4d474785; border-radius:10px; padding: 10px;">
                    <p style="word-break: break-word;" id="employeeNameField">Dear {{employeeName}},</p>
                    <textarea type="text" id="messageField" style="height: 90px;" class="form-control">
                    </textarea><br>
                    <p style="word-break: break-word;" id="ticketNoField">Ticket No: {{ticketId}}</p>
                    <p style="word-break: break-word;" id="ticketMessageField">Ticket Message: {{description}}</p>
                    <p style="word-break: break-word;" id="ticketRaisedField">Raised Under Category: {{raisedUnderCategory}}</p>
                    <div class="row clearfix">
                    <div class="col-md-5" style="margin-top:10px">
                      <p>Category to be Changed to:</p>
                    </div>
                    <div class="col-md-7" style="margin-top:10px">
                      <input type="text" style="padding: 3px; border-radius:10px; border: 1px solid #4d474785; height: 25px;" class=" form-control"  id="categoryChangeTo">
                    </div>
                  </div>
                  </div>
                      
                </div>


                <div class="col-md-12 text-center center-block m-b-25">
                  <button type="button" class="btn-hover color-1" (click)="sendChangeTicketTypeMail()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="modal fade" id="ticketTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Change Ticket Type</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="offset-md-1 col-md-10">
              <div class="row clearfix" style="border:solid 1px #bbb">
                <div class="col-md-8 offset-md-2 center-block text-center">
                  <b class="col-md-12 m-b-25 m-t-25 dept" style="text-align: left;">Purpose Type :</b>
                  <div class="form-line">
                    <select class='center' style="width:100%; margin-top: 0px !important" id="purposeTypeID" single>
                    </select>
                  </div>

                  <b class="col-md-12 m-b-25 m-t-25 dept" style="text-align: left;">Sub Purpose Type :</b>
                  <div class="form-line">
                    <select style="width:100%;" id="subPurposeTypeID" single>
                      <option value='select'>--Select SubPurpose Type--</option>
                    </select>
                  </div>
                </div><br>
                <div class="col-md-12 text-center center-block m-b-25">
                  <button type="button" class="btn-hover color-1 cancelBtnColor" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn-hover color-1" (click)="approveChangeTicketType()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="modal fade" id="ticketTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Change Ticket Type</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="offset-md-1 col-md-10">
              <div class="row clearfix" style="border:solid 1px #bbb">
                <div class="col-md-8 offset-md-2 center-block text-center">

                  <b class="col-md-12 m-b-25 m-t-25 dept">Purpose Type :</b>
                  <div class="col-md-12">
                    <select class="form-group" id="purposeTypeID">
                      <option value="select">--Select--</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 text-center center-block m-b-25">
                  <button type="button" class="btn-hover color-1 cancelBtnColor" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn-hover color-1" (click)="approveChangeTicketType()">Submit</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</section>
