<style>
  .democls {
    width: 100%;
    height: auto;
    border: 1px solid #00bcd4;
    padding: 10px;
    border-radius: 5px;

  }
</style>

<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">
                <i style="font-size:24px; cursor: pointer; padding: 4px 16px 1px 1px;" (click)="backToList()"
                  class="fa fa-arrow-left"></i>
                View Notification Details
              </h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" (click)="homeClick()"></i> Company Notifications</a>
            </li>
            <li class="breadcrumb-item bcrumb-2" routerLink="/View-All-Company-Notifications">
              <a href="#" onClick="return false;">View All Notifications</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">View Notification Details</a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="row clearfix">
        <div class="col-sm-12">
          <i style="font-size:24px; cursor: pointer;" (click)="backToList()" class="fa fa-arrow-left"></i>
        </div>
      </div><br> -->

    <div class="card">
      <div class="card-body">
      

        <div class="row clearfix">
          <div class="input-field col-sm-12">
            <input type="text" id="state_id" class="form-control">
            <label style="margin-left: 11px;top: -30px;left: 0;font-size: 17px;color:#26a69a"
              for="state_id">State:</label>
          </div>
        </div><br>

        <div class="row clearfix">
          <div class="input-field col-sm-12">
            <textarea type="text" id="project_id" class="form-control" disabled></textarea>
            <label style="margin-left: 11px;top: -40px;left: 0;font-size: 17px;color:#26a69a"
              for="project_id">Projects:</label>
          </div>
        </div><br>
        
        <div class="row clearfix">
          <div class="input-field col-sm-12">
            <input type="text" id="title_id" class="form-control">
            <label style="margin-left: 11px;top: -30px;left: 0;font-size: 17px;color:#26a69a"
              for="title_id">Title:</label>
          </div>
        </div><br>

      
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="input-field col-sm-12">
              <textarea id="notificationtext_id" style="height:170px;font-size:17px;" data-length="120"></textarea>
              <label style="top:-42px!important;left: 0;font-size: 17px;color:#26a69a"
                for="notificationtext_id">Notification Text:</label>
            </div>
          </div>
        </div><br>

        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="input-field col-sm-12">
              <div [innerHTML]="textdisc" class="democls"></div>

              <!-- <textarea id="textarea2" style="height:170px;font-size:17px;" data-length="120"></textarea> -->
              <label style="top:-42px!important;left: 0;font-size: 17px;color:#26a69a" for="textarea2">Notification
                Description:</label>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="header">
              <!-- <h3><strong>Booking</strong> Form</h3><br> -->
              <div class="row clearfix"><br>

                <img id="myImg" style="width:350;height:100px;" /><br><br>
                <img id="driveImg" style="width:350;height:100px; margin-left:3px;display: none;"
                  src="assets/images/defaultImage.png" class="img" (click)="myimage(this.json_response.imgLoc)" />
                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'pdf'"
                  src="assets/images/pdficon.png" class="img" (click)="myimage(this.json_response.linkFileLoc)" />
                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'xlsx'"
                  src="assets/images/xlsxicon.png" class="img" (click)="myimage(this.json_response.linkFileLoc)" />
                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'xlx'"
                  src="assets/images/xlsxicon.png" class="img" (click)="myimage(this.json_response.linkFileLoc)" />

                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'jpg'"
                  [src]="(this.json_response.linkFileLoc)" class="img"
                  (click)="myimage(this.json_response.linkFileLoc)" />

                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'jpeg'"
                  [src]="(this.json_response.linkFileLoc)" class="img"
                  (click)="myimage(this.json_response.linkFileLoc)" />

                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'png'"
                  [src]="(this.json_response.linkFileLoc)" class="img"
                  (click)="myimage(this.json_response.linkFileLoc)" />

                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'docx'"
                  src="assets/images/wordicon.png" class="img" (click)="myimage(this.json_response.linkFileLoc)" />

                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'doc'"
                  src="assets/images/wordicon.png" class="img" (click)="myimage(this.json_response.linkFileLoc)" />


                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'txt'"
                  src="assets/images/txticon.jpg" class="img" style="width:350;height:100px;"
                  (click)="myimage(this.json_response.linkFileLoc)" />

                <img *ngIf="this.fileExtension == 'ppt'" src="assets/images/pptxicon.png" class="img"
                  style="width:350;height:100px;margin-left:3px" (click)="myimage(this.json_response.linkFileLoc)" />

                <img *ngIf="this.fileExtension == 'pptx'" src="assets/images/pptxicon.png" class="img"
                  style="width:350;height:100px;margin-left:3px" (click)="myimage(this.json_response.linkFileLoc)" />
                <img style="width:350;height:100px;margin-left:3px" *ngIf="this.fileExtension == 'gDriveFile'"
                  src="assets/images/file1.jpg" class="img" (click)="myimage(this.json_response.linkFileLoc)" />

                <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="#" class="imagepreview" style="width: 100%;">
                      </div>
                    </div>
                  </div>
                </div>



                <!-- <div class="col-sm-3"></div> -->

                <!-- <div class="col-sm-12">
                                  <form action="#">
                                      <div class="file-field input-field">
                                          <div class="btn">
                                              <i class="fa fa-paperclip" aria-hidden="true" style="color:gray"></i>
                                              <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="handleFileSelect($event)">
                                          </div>
                                          <div class="file-path-wrapper">
                                              <input class="file-path validate" type="text"
                                                  placeholder="Upload Image">
                                          </div>
                                      </div>

                                  </form>
                                  <img id="myImg" src="#"  style="width:350;height:100px;display:none" />

                                  
                                    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">              
                                          <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <img src="#" class="imagepreview" style="width: 100%;" >
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                 
                              </div> -->
              </div>
              <!-- <div class="row clearfix">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                          <div style="text-align:center;">
                              <button type="button" class="btn-hover color-1" (click)="modify()">Modify</button>
                          </div>
                          </div>
                          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div style="text-align:center;">
                                <button type="button" class="btn-hover color-1" (click)="approve()">Approve</button>
                            </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                              <div style="text-align:center;">
                                  <button type="button" class="btn-hover color-1" (click)="reject()">Reject</button>
                              </div>
                              </div>
                        </div> -->

                        <div style="text-align:center;">
                          <button type="button" class="btn-hover color-1" (click)="viewreport()">View Report</button>
                      </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>