<style>
  .form-group {
    width: 100%;
    margin-bottom: 2px !important;
  }


  .trashicon {
    position: relative;
    left: 51px;
    color: #2196F3;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 23px;
    width: 30px;
    height: 30px;
  }

  .viewinvoicecls {
    position: absolute;
    right: 32px;
    top: 5px;
    font-weight: 600;
    color: #4caf50;
    font-size: 14px;
    text-decoration: underline;
    text-transform: capitalize;
    display: none;
  }

  .Modificationinvoicecls {
    position: absolute;
    right: 32px;
    top: 5px;
    font-weight: 600;
    color: #4caf50;
    font-size: 14px;
    text-decoration: underline;
    text-transform: capitalize;
    display: none;
  }


  .carparkinginvoicecls{
    position: absolute;
    right: 4px;
    top: 5px;
    font-weight: 600;
    color: #4caf50;
    font-size: 14px;
    text-decoration: underline;
    text-transform: capitalize;
    display: none;
  }


</style>

<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Receipt Online</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" style="cursor: pointer;" (click)="homeClick()"></i>Transactions</a>
            </li>
            <li class="breadcrumb-item active">Receipt Online</li>
            
          </ul>
        </div>
      </div>
    </div>


    <!-- <div class="row clearfix">
      <div class="col-sm-3">
        <div class="form-line" style="font-weight: bold;"> Payment From: <label style="width: 150px;
          margin-left: 14px;">

            <select style="width:100%" class="form-group" id="payment_Type" single>
              <option value="Customer">Customer</option>
              <option value="Other">Other</option>
            </select>
          </label></div>
      </div></div> -->



    <div class="card">
      <div class="card-body" id="customer_first_element">
        
        <div class="row clearfix">
         
          <div class="col-sm-3">
            <div class="form-group">
              <label class="required">Reference Number : </label>
              <input style="border: 1px solid #4d474785; text-align: center; border-radius:5px; height: 28px;
      font-size: 16px;" (keypress)="keyPress($event)" type="text" class="form-control" id="referenceNumberID"
                placeholder="Enter Number">
            </div>
          </div>


          <div class="col-sm-3">
            <div class="form-group">
              <label class="required">Received Date : </label>



              <input type="date" placeholder="select date" format="DD/MM/YYYY"
              style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
              class="form-control" id="receivedDateID" [max]="getToday()">


            
            </div>
          </div>


          <div class="col-sm-3">
            <div class="form-group">
              <label class="required">Received Amount : </label>
              <input style="border: 1px solid #4d474785; text-align: center;border-radius:5px; height: 28px;
      font-size: 16px;" type="text" (keypress)="keyPressAmount($event)" class="form-control" id="receivedAmountID"
                placeholder="Enter Amount" pattern="^\d*(\.\d{0,2})?$">
            </div>
          </div>



          <div class="col-sm-3">
            <div class="form-group">
              <label class="required">Payment Mode : </label>
              <select style="width:100%;" class="form-group" id="PaymentModeID" single>
                <option value="select">--Select--</option>
              </select>
            </div>
          </div>

        </div>


        <div class="row clearfix">

          <div class="col-sm-3">
            <div class="form-group">
              <label> Customer Bank Name : </label>
              <select style="width:100%;" class="form-group" id="bankNamesID" single>
                <option value="select">--Select--</option>
              </select>
            </div>
          </div>


          <div class="col-sm-3">
            <div class="form-group">
              <label class="required">Project:</label>
              <select style="width:100%" class="form-group" id="ProjectId" single></select>
            </div>

          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label> Block:</label>
              <select style="width:100%" class="form-group" id="BlockId" single disabled></select>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label class="required">Flat:</label>
              <select style="width:100%" class="form-group" id="FaltId" single disabled></select>
            </div>
          </div>

        </div>

        <div class="row clearfix rowtitlecls">
         

          <div class="col-sm-3" id="companyAccBlock">
            <div class="form-group">
              <label class="required">Company Account Number: </label>
              <select style="width:100%;" class="form-group" id="companyAccnumberID" single>
                <option value="select">--Select--</option>
              </select>
            </div>
          </div>


        </div>

        
      

        <div id="custdet_div"
        style="width:100%;border:solid 1px #000;height: 40px;padding: 10px;border-radius:10px;margin-top:10px;display:none">
        <div style="float:left; width:50%"><b>Customer Name:</b> <span id="custname" style="font-weight: 900;"></span>
        </div>
        <div style="float:left;width:20%">Pending Amount:<span id="pendingamnt" style="font-weight: 900;"></span>
        </div>
        <!-- <div style="float:left;width:20%">Interest Amount:<span id="interestamnt" style="font-weight: 900;"></span>
        </div> -->
      </div><br>



        <div id="PaymentSetOffDiv" style="border: solid 1px #000;
        padding: 10px;border-radius: 10px;position: relative;top: 26px;">
          <div class="row clearfix">
            <div class="col-sm-2">
              <div class="form-line required"> Principal Amount:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="PrincipalAmount" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line"> Corpus Fund:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="CorpusFund" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line"> Maintenance Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="MaintinaceCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

          </div>

          <div class="row clearfix">

            <div class="col-sm-2">
              <div class="form-line"> Flat Khata Bifurcation:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="FlatKhataBifurcation" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-line"> Interest:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="InterstAmount" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line"> Modification Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="ModificationCharges" (keyup)="modificationInvoice($event)"
                  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

          </div>

          <div class="row clearfix">

            <div class="col-sm-2">
              <div class="form-line"> Legal Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="LeagalCharges" (keyup)="legalInvoice($event)" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-line"> Refundable Advance:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="refunableCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line"> Modification Invoice: <span class="Modificationinvoicecls"
                  (click)="Modificationfun()"> VIEW</span></div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <select style="width:100%" class="form-group" id="ModificationInvoiceId" single disabled></select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">Legal Invoice: <span class="viewinvoicecls" (click)="viewinvoicefun()">
                  VIEW</span> </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <select style="width:100%" class="form-group" id="LegalInvoiceId" single disabled></select>
              </div>
            </div>

            <div class="col-sm-2">
              <label> TDS Amount:</label>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="TdsAmount" (keyup)="paidbynamefun($event)" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <label> Paid By:</label>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <select style="width:100%;text-transform: lowercase;" class="form-group" id="paidbyname" single>
                  <option value="select">Select</option>
                  <option value="Customer">Customer</option>
                  <option value="Ams">Ams</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row" style="position: relative;top: 14px;">
            <div class="col-sm-2">
              <div class="form-line"> Car Parking Cost:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="carparkingcost" (keyup)="carparkingInvoice($event)"
                  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-line">Car Parking Invoice: <span class="carparkinginvoicecls"
                  (click)="carparkinginvoicefun()">
                  VIEW</span></div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <select style="width:100%" class="form-group" id="CarparkingInvoiceId" single disabled></select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-line"> Registration And Mutation Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Registration_and_Mutation_Charges"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

          </div>


          <div class="row" style="position: relative;top: 12px;">
            <div class="col-sm-2">
              <div class="form-line">Non-refundable Caution Deposit:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Non_refundable_Caution_Deposit"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-line"> Electricity Deposit:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Electricity_Deposit"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
          </div>

        </div><br>

        <div class="row" style="position: relative; margin-top: 23px;">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Bank Statement Comments: </label>
              <textarea rows="5" cols="5" style="border-radius: 4px;height:50px;" id="bankStatementCommentsID"
                maxlength="500" data-length="120"></textarea>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label>MIS Comments: </label>
              <textarea rows="5" cols="5" style="border-radius: 4px;height:50px;" id="misStatementCommentsID"
                maxlength="500" data-length="120"></textarea>
            </div>
          </div>

          <!-- <div class="col-sm-4">
            <div class="form-group">
              <label> Comments: </label>
              <textarea rows="5" cols="5" style="border-radius: 4px;height:50px;" id="misStatementCommentsID"
                maxlength="500" data-length="120"></textarea>
            </div>
          </div> -->


        </div>


        <div class="row">
          <div class="col-sm-3" style="margin-top:30px;">
            <label class="required">Source of funds:</label>
            <select style="width:100%" class="form-group" id="Sourcefound" single>
              <option value="select">Select</option>
              <option value="Bank">Bank</option>
              <option value="Self">Self</option>
            </select>
          </div>


          <div class="col-sm-4">
            <div class="form-group" style="position: relative;
            top: 32px;">
              <label class="required">Attach Files:</label> <br>
              <input type="file" id="files" accept="image/x-png,image/gif,image/jpeg"
                (change)="handle_FileSelect($event)" style="position: relative;color: rgb(0, 0, 0); cursor:pointer;">
            </div>
          </div>



        </div>



        
        <div class="row">




          <div class="container" style="position: relative;
          top: 22px;display: inline-flex;margin-top: 20px;overflow-x: auto;">
            <div *ngFor='let url of urls; let i = index;' style="margin-left: 20px;min-width: 20%;">
              <span *ngIf="url.Type == 'jpg' || url.Type =='png' || url.Type == 'svg' || url.Type == 'jpeg'">
                <img [src]="url.upload" height="150" width="150" (click)="fileClickfun(url.upload , url.Type)"
                  style="cursor:pointer;">
                <br />
                <img src="assets/images/trash.jpg" class="trashicon" (click)="Deleteimage(i)" style="cursor:pointer;">
              </span>
              <span *ngIf="url.Type == 'N/A' || url.Type == 'pdf' || url.Type == 'PDF' ">
                <img src="assets/images/file1.png" height="150" width="150"
                  (click)="fileClickfun(url.upload , url.Type)" style="cursor:pointer;">
                <br />
                <img src="assets/images/trash.jpg" class="trashicon" (click)="Deleteimage(i)" style="cursor:pointer;">
              </span>

              <p style="position: relative;
                  text-align: center;width: 150px;
                top: -18px;">{{url.Name}}</p>
            </div>
            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body" style="text-align: center;">
                    <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                    <object style="width:100%!important;" height="500" [attr.data]="fileName" type={{filetypeurlsplit1}}
                      *ngIf="filesplitdata !== 'image' &&  filetypeurlsplit1 == 'application/pdf'"></object>


                    <img [src]="imgsrc" height="450" style="width:auto" *ngIf="filesplitdata == 'image'">


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





        <div style="text-align:center;">
          <button type="button" class="btn-hover color-1" (click)="CRMReceiptonlineSubmit('submit')">Submit</button>
          </div>


      </div>

      <div id="other_first_element" style="padding: 10px;display: none;">

        <form>

          <div class="rowtitlecls">
            <div class="row clearfix" style="position: relative;
            top: 9px;">
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Reference Number</label>
                  <input (keypress)="keyPress($event)" maxlength=8 type="text" placeholder="Enter Number"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                    class=" form-control" id="ChequeNumber" (keyup)="Cheque_numberfun($event)">


                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Received Date</label>

                  <input type="date" placeholder="select date" format="DD/MM/YYYY"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                    class="form-control" id="ChequeDate" [max]="getToday()">




                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Received Amount</label>
                  <input (keypress)="keyPressAmount($event)" type="text" placeholder="Enter Amount"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                    class=" form-control" id="ChequeAmount" autocomplete="off" pattern="^\d*(\.\d{0,2})?$"
                   >
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Payment Mode : </label>
                  <select style="width:100%;" class="form-group" id="PaymentModeID_lender" single>
                    <option value="select">--Select--</option>
                  </select>
                </div>
              </div>
              <!-- <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Cheque Rec Date</label>
                  <input type="date" placeholder="select date" format="DD/MM/YYYY"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                    class=" form-control" id="ChequeRecDate">
                </div>
              </div> -->

            </div><br><br>

            <div class="row clearfix">
              <div class="col-sm-3">
                <div class="form-group">
                  <label >Lender Bank Name</label>
                  <select style="width:100%" class="form-group" id="lender_bank_name" single></select>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Project</label>
                  <select style="width:100%" class="form-group" id="lener_project" single></select>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Lender Name</label>
                  <select style="width:100%" class="form-group" id="lender_name" single>
                    <!-- <option value="select">Select</option>
                    <option value="Mr. Suresh Kumar Reddy">Mr. Suresh Kumar Reddy</option>
                    <option value="M/S  Safehands Finance services">M/S Safehands Finance services</option>
                    <option value="Mr. Subbarao -8879018179">Mr. Subbarao -8879018179</option> -->
                  </select>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Company Account Number</label>
                  <select style="width:100%" class="form-group" id="Lender_companybankAcId" single ></select>
                </div>
              </div>

            </div><br><br>


            <div class="row clearfix">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Bank Comments</label>
                  <textarea rows="5" cols="5" style="border-radius: 4px;height: 50px;" id="bankcomentsID"
                    data-length="120"></textarea>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label> Lender Comments </label>
                  <textarea style="border-radius: 4px;height: 50px;" rows="5" cols="5" id="Lendercommentsid"
                    data-length="120"></textarea>
                </div>
              </div>
            </div>
            <div class="row clearfix">

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="required">Attach Files:</label><br>
                  <input type="file" id="files1" accept="image/x-png,image/gif,image/jpeg"
                    (change)="handle_FileSelect1($event)"
                    style="position: relative;color: rgb(0, 0, 0); cursor:pointer;">
                </div>

              </div>

            </div>
            


            
            <div class="row">
              <div class="container" style="position: relative;
              top: 22px;display: inline-flex;margin-top: 20px;overflow-x: auto;">
                <div *ngFor='let url of urls1; let i = index;' style="margin-left: 20px;min-width: 20%;">
                  <span *ngIf="url.Type == 'jpg' || url.Type =='png' || url.Type == 'svg' || url.Type == 'jpeg'">
                    <img [src]="url.upload" height="150" width="150" (click)="fileClickfun(url.upload , url.Type)"
                      style="cursor:pointer;">
                    <br />
                    <img src="assets/images/trash.jpg" class="trashicon" (click)="Deleteimage1(i)"
                      style="cursor:pointer;">
                  </span>
                  <span *ngIf="url.Type == 'N/A' || url.Type == 'pdf' || url.Type == 'PDF' ">
                    <img src="assets/images/file1.png" height="150" width="150"
                      (click)="fileClickfun(url.upload , url.Type)" style="cursor:pointer;">
                    <br />
                    <img src="assets/images/trash.jpg" class="trashicon" (click)="Deleteimage1(i)"
                      style="cursor:pointer;">
                  </span>

                  <p style="position: relative;text-align: center;width: 150px;top: -18px;">{{url.Name}}</p>
                </div>
                <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                        <object style="width:100%!important;" height="500" [attr.data]="fileName"
                          type={{filetypeurlsplit1}}
                          *ngIf="filesplitdata !== 'image' &&  filetypeurlsplit1 == 'application/pdf'"></object>


                        <img [src]="imgsrc" height="450" style="width:auto" *ngIf="filesplitdata == 'image'">


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div style="text-align:center;">
            <button type="button" class="btn-hover color-1" (click)="other_submitfun()">Submit</button>
          </div>


        </form>
      </div>
    </div>
  </div>
</section>

<canvas id="canvas" width="5" height="5"></canvas>