<style>
  .fromdateval {
    width: 100%;
    text-align: center;
    position: relative;
    top: 11px;
    color: orangered;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.9;
    filter: invert(0.8);
    position: absolute;
    right: 35px;
  }

  ::ng-deep .my-class .modal-dialog {
    max-width: 30%;
    width: 30%;

  }

  input[type="date"]::-webkit-datetime-edit,
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
  }

  input[type="date"]::-webkit-datetime-edit-year-field {
    position: absolute !important;
    /* border-left: 1px solid #8c8c8c; */
    padding: 2px;
    color: #000;
    left: 70px;

  }

  input[type="date"]::-webkit-datetime-edit-month-field {
    position: absolute !important;
    /* border-left: 1px solid #8c8c8c; */
    padding: 2px;
    color: #000;
    left: 33px;
    content: "-";
  }

  input[type="date"]::-webkit-datetime-edit-day-field {
    position: absolute !important;
    color: #000;
    padding: 2px;
    left: 4px;

  }

  .searchbtn {
    width: 200px;
    font-size: 14px;
    font-family: 'Poppins';
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .nodata {
    position: relative;
    font-size: 18px;
    color: #607d8b;
    /* font-weight: 600; */
    font-family: 'Poppins';
    left: 39px;
    top: 5px;
  }
</style>
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">View interest waiver</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" style="cursor:pointer;" (click)="homeClick()"></i>Transactions</a>
            </li>
            <li class="breadcrumb-item active">View interest waiver requests for approval</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="card" style="bottom: 10px;margin-top:0px;">
      <div class="card-body">
        <form [formGroup]="fg">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-line">
                <label style="font-family: 'Poppins'">Project :</label>
                <div class="center">
                  <select style="width:100%;" class="form-group" id="projectID" single>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-line">
                <label style="font-family: 'Poppins'">Customer Name :</label>
                <div class="center">
                  <select style="width:100%;" class="form-group" id="customername" single>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-line" style="position: relative;top: -12px;">
                <label style="position: relative;top: 10px;font-family: 'Poppins'">From Date:</label>
                <div class="center" style="position: relative;top: 9px;">
                  <span class="material-icons" style="position: absolute;
              right: 19px;top: 7px;font-size: 20px;z-index: 9999;" (click)="startdatefun()">cancel </span>
                  <span style="position: absolute;left: 28px;top: 8px;font-weight: 600;">/</span>
                  <span style="position: absolute;left: 64px;top: 8px;font-weight: 600;">/</span>
                  <input type="date" data-date="" data-date-format="DD MMMM YYYY"
                    style="border: 1px solid #aaa; text-align: center;border-radius:5px;height:30px"
                    class=" form-control" id="fromDate" formControlName="from" [max]="getToday()">
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-line" style="position: relative;top: -12px;">
                <label style="position: relative;top: 10px;font-family: 'Poppins'">To Date:</label>
                <div class="center" style="position: relative;top: 9px;">
                  <span class="material-icons" style="position: absolute;
              right: 19px;top: 7px;font-size: 20px;z-index: 9999;" (click)="endtimefun()">cancel </span>
                  <span style="position: absolute;left: 28px;top: 8px;font-weight: 600;">/</span>
                  <span style="position: absolute;left: 64px;top: 8px;font-weight: 600;">/</span>
                  <input type="date" placeholder="Select Date"
                    style="border: 1px solid #aaa; text-align: center;border-radius:5px;height:30px"
                    class=" form-control" id="toDate" formControlName="to" [max]="getToday()">
                </div>
              </div>
            </div>
          </div>

          <p *ngIf="fg.touched && fg.invalid" class="fromdateval">Please add a valid from and to date</p>
          <div style="width:100%;text-align:center;">
            <button type="button" class="btn-hover color-1 searchbtn" (click)="searchfunction()">Submit</button>
          </div>

        </form>
      </div>
    </div>



    <div class="card" *ngIf="pendingTransData.length == 0">
      <div class="card-body">
        <div>
          <p class="nodata">No data found</p>
        </div>
      </div>
    </div>


    <div class="card" style="bottom: 10px;margin-top:-10px;" *ngIf="pendingTransData?.length">
      <div class="card-body">



        <div class="table-responsive" style="overflow-x:revert!important;">
          <table id="viewpendingdata" class="table table-bordered">
            <thead>
              <tr>
                <!-- <th class="center">Action</th> -->
                <th class="center"> <input type="checkbox" style="width: 20px;
                  height: 20px;position: relative;top: 6px;" name="allNonTrades"
                  [value]="pendingTransData" (change)="allNonTrades($event)"> Select All</th>
                <th class="center">S.NO</th>
                <th class="center">Request Date</th>
                <th class="center">Approval Req Receive Date</th>
                <th class="center">Project Name</th>
                <th class="center">Flat No</th>
                <th class="center">Customer Name</th>
                <th class="center">Request Amount</th>


              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of pendingTransData; let i=index" style="cursor: pointer;">
                <td class="center">
                  <input type="checkbox" id="{{'tablerowdata'+(i+1)}}"
                    value="{{item.siteId+'-'+item.siteName+'-'+item.transactionTypeId+'-'+item.transactionModeId+'-'+item.transactionTypeName+'-'+item.transactionModeName+'-'+item.transactionDate+'-'+item.transactionAmount+'-'+item.flatId+'-'+item.bookingFormId+'-'+item.finTransactionNo+'-'+item.transactionEntryId}}"
                    style="width:20px;height:20px;" class="checlist" (change)="toggleVisibility($event , item)" [checked]="item.selected"
                    >
                </td>
                <td class="center" (click)="goToDetails(item , pendingTransData)">{{i+1}}</td>
                <td class="center" (click)="goToDetails(item , pendingTransData)">{{item.transactionDate| date:'dd-MM-yyy '}}</td>
                <td class="center" >{{item.lastApprovedDate| date:'dd-MM-yyy h:mm a'}}  </td>
                <td class="center" (click)="goToDetails(item , pendingTransData)">{{item.siteName}}</td>
                <td class="center" (click)="goToDetails(item , pendingTransData)">{{item.flatNo}}</td>
                <td class="center" (click)="goToDetails(item , pendingTransData)">{{item.customerName}}</td>
                <td class="center" (click)="goToDetails(item , pendingTransData)">{{item.transactionAmount.toLocaleString('en-IN')}}</td>



              </tr>
            </tbody>
          </table>


          <table class="display  width-per-100">
            <tr style="color: #9E9E9E; border: none;
            position: relative; top: -71px;" *ngIf="pendingTransData.length != 0">

              <td colspan="6" style="text-align:right;font-weight: bold;font-size:16px;width: 82%;">Grand Total :</td>
              <td style="text-align:Center;font-weight: bold;font-size:16px;"> <span id="invoiceamount" style="position: relative;
                left: 17px;"></span></td>
             
            </tr>
          </table>



        </div>
      

        <div class="row" *ngIf="pendingTransData?.length">
          <div class="col-sm-2"></div>
          <div class="col-sm-6" style="text-align: right;">
            <div class="form-group">
              <button type="button" class="btn-hover color-1"
                (click)="cheque_bounce_clearFun('Approve')">Approve</button>
              <button type="button" class="btn-hover color-1" (click)="cheque_bounce_clearFun('Reject')">Reject</button>

            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>

      </div>
    </div>

  </div>
</section>