
<section class="content">
  
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Change Ticket Owner</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" (click)="homeClick()"></i> Ticketing</a>
            </li>
            <!-- <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Ticket</a>
            </li> -->
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Change Ticket Owner</a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card" style="border:0">

           <!--  <div class="header">
            <h2>
              View Tickets
            </h2>
          <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->
          <div class="body">
            <div class="row">
              
              <div class="col-lg-1 col-sm-6">
                <div class="support-box text-center l-bg-red">
                  <div class="icon m-b-10">
                    <div class="chart chart-bar">6,4,8,6,8,10,5,6,7,9,5,6,4,8,6,8,10,5,6,7,9,5</div>
                  </div>
                  <div class="text m-b-10">Total Tickets</div>
                  <h3 class="m-b-0">{{total_tickets}}
                    <i class="material-icons">trending_up</i>
                  </h3>
                </div>
              </div>

              <div class="col-lg-1 col-sm-6">
                <div class="support-box text-center l-bg-cyan">
                  <div class="icon m-b-10">
                    <span class="chart chart-line">9,4,6,5,6,4,7,3</span>
                  </div>
                  <div class="text m-b-10">New</div>
                  <h3 class="m-b-0">{{new_tickets}}
                    <i class="material-icons">trending_up</i>
                  </h3>
                </div>
              </div>
              
              <div class="col-lg-1 col-sm-6">
                  <div class="support-box text-center l-bg-cyan2">
                    <div class="icon m-b-10">
                      <span class="chart chart-line">9,4,6,5,6,4,7,3</span>
                    </div>
                        <div class="text m-b-10">Open</div>
                        <h3 class="m-b-0">{{open_tickets}}
                          <i class="material-icons">trending_up</i>
                        </h3>
                  </div>
                </div> 

                <div class="col-lg-1 col-sm-6">
                  <div class="support-box text-center l-bg-cyan3">
                    <div class="icon m-b-10">
                      <span class="chart chart-line">9,4,6,5,6,4,7,3</span>
                    </div>
                          <div class="text m-b-10">ReOpen</div>
                          <h3 class="m-b-0">{{reOpen_tickets}}
                            <i class="material-icons">trending_up</i>
                          </h3>
                  </div>
                </div> 

                <div class="col-lg-1 col-sm-6">
                    <div class="support-box text-center green">
                      <div class="icon m-b-10">
                        <div class="chart chart-bar">
                          4,6,-3,-1,2,-2,4,3,6,7,-2,3,4,6,-3,-1,2,-2,4,3,6,7,-2,3</div>
                      </div>
                      <div class="text m-b-10">In Progress</div>
                      <h3 class="m-b-0">{{total_inProgress}}
                        <i class="material-icons">trending_down</i>
                      </h3>
                    </div>
                  </div>

                  <div class="col-lg-1 col-sm-6">
                      <div class="support-box text-center l-bg-red">
                        <div class="icon m-b-10">
                          <div class="chart chart-bar">6,4,8,6,8,10,5,6,7,9,5,6,4,8,6,8,10,5,6,7,9,5</div>
                        </div>
                        <div class="text m-b-10">Replied</div>
                        <h3 class="m-b-0">{{total_replied}}
                          <i class="material-icons">trending_up</i>
                        </h3>
                      </div>
                    </div>

                <div class="col-lg-1 col-sm-6">
                  <div class="support-box text-center l-bg-orange">
                    <div class="icon m-b-10">
                      <div class="chart chart-pie">30, 35, 25, 8</div>
                    </div>
                    <div class="text m-b-10">Closed</div>
                    <h3 class="m-b-0">{{total_closed}}
                      <i class="material-icons">trending_down</i>
                    </h3>
                  </div>
                </div>
            </div>
      
           
            <div class="table-responsive" style="border:0.2px solid;padding:5px;">
                <ul>
                    <li>
                      <div class="col-md-10" style="float: left;margin-top: 10px;"> 
                        <p style="font-size: small;"><span style="font-weight: 600;">Note: </span>Multiple selection is possible only for same type of ticket from same site.</p>
                      </div>
                        <div class="col-md-2" style="float: right;"> 
                            <!-- <input style="text-align:center;border:1px solid;margin-top: 10px;" class="effect-9" name="search" type="text" placeholder="Search Here"> -->
                            <input style="text-align:center;border:1px solid;margin-top: 10px;" class="effect-9" name="search" [(ngModel)]="searchText" type="text" placeholder="Search Here">

                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                        
                <!-- <div class="col-md-3">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="Search Here">    
                  </div> -->
                 
              <table id="tableExport" class="display table table-hover table-checkable order-column width-per-100">
                <thead>
                  <tr>
                      <!-- <th class="center">S.NO</th>  -->
                      <th class="center"></th> 
                    <th class="center">Ticket Number</th> 
                    <th class="center">Customer Name</th>           
                    <th class="center">Ticket Owner Name</th>        
                    <th class="center">Project Name</th>            
                    <th class="center">Ticket type</th>
                    <th class="center">Pending Department</th>                    
                    <th class="center">Status</th>        
                    <th class="center">Received Date</th>
                    <th class="center">Escalation Date</th>
                    <!-- <th class="center">Action</th> -->
                  </tr>
                </thead>
                <tbody>

                  <!-- <span *ngIf="itemsPer_Page == 0">
                      <div class="center"> No Data Available</div>  
                    <tr  *ngFor="let data of ticketList| filter : searchText | paginate: { itemsPerPage: totalItems, currentPage: current_Page,totalItems: itemsPer_Page};let i=index;" class="ticketList">
                    </tr>
                  </span> -->
                  <tr *ngIf="total_length == 0">
                    <td class="center" colspan="8" id="noData"> No Data Available</td>
                <!-- <tr  *ngFor="let data of ticketList| paginate: { itemsPerPage: totalItems, currentPage: current_Page,totalItems: itemsPer_Page};let i=index;" class="ticketList"> -->
                <!-- <tr  *ngFor="let data of ticketList| filter : searchText | paginate: { itemsPerPage: totalItems, currentPage: current_Page,totalItems: itemsPer_Page};let i=index;" class="ticketList">

                </tr> -->
              </tr>
                
                  <tr  *ngFor="let data of ticketList| filter : searchText | paginate: { itemsPerPage: totalItems, currentPage: current_Page,totalItems: itemsPer_Page};let i=index;" class="ticketList" >
                      <!-- <td class="center">{{i+1}}</td> -->
                      <td class="center" ><input type="checkbox" value="{{data.ticketId}}" style="width:20px;height:20px;"class="checlist"></td>
                    <td class="center" (click)="gotoTicketDetailspage(data)"><a class="leadId">{{data.ticketId}}</a></td>
                    <td class="center" (click)="gotoTicketDetailspage(data)">{{data.customerPropertyDetails.customerName}}</td>
                    <td class="center" (click)="gotoTicketDetailspage(data)">{{data.ticketOwnerName}}</td>
                    <td class="center" (click)="gotoTicketDetailspage(data)">{{data.customerPropertyDetails.siteName}}</td>                  
                    <td class="center" (click)="gotoTicketDetailspage(data)">{{data.ticketType.ticketType}}</td>
                    <td class="center" (click)="gotoTicketDetailspage(data)">{{data.department.departmentName}}</td>
                    <td class="center">
                      <div class="badge" [ngStyle]="{'color':getColor(data.status)}">{{data.status}}</div>
                    </td>                    
                    <td class="center" (click)="gotoTicketDetailspage(data)">{{data.createdDate| date : 'fullDate'}}</td>
                    <td class="center" (click)="gotoTicketDetailspage(data)">{{data.estimatedResolvedDate| date : 'fullDate'}}</td> 
                    <!--
                       *ngFor="let innerdata of data.ticketEscalationResponses;let j = index" <td class="center">
                      <button type="button"  class="btn btn-tbl-edit clickbtn">
                        <i class="material-icons">create</i>
                      </button>
                      <button type="button" class="btn btn-tbl-delete">
                        <i class="material-icons">delete_forever</i>
                      </button>
                    </td> -->
                  </tr>
            
                </tbody>
              </table>
            </li>
          </ul>

          <pagination-controls style="float: right; font-size: 18px" (pageChange)="pageChanged($event)" ></pagination-controls>

            </div>
          </div>
        </div>
        <button  style="width: 200px;margin-left: 40%;margin-top: -7px;" class="btn-hover color-1" type="button"
        (click)="ChangeTicketOwner()">Change Ticket Owner</button>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="modal fade" id="changeticketinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel"></h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="offset-md-1 col-md-10">
                    <div class="row clearfix" style="border:solid 1px #bbb">
                      <div class="col-md-8 offset-md-2 center-block text-center">
      
                        <b class="col-md-12 m-b-25 m-t-25 dept">Select Ticket Owner :</b>
                        <div class="col-md-12">
                          <select class="form-group" id="sel">
                            <option value="select">--Select--</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12 text-center center-block m-b-25">
                        <button type="button" class="btn-hover color-1 cancelBtnColor" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn-hover color-1" (click)="change_ticket_owner_modal_Data()">Submit</button>
      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div> 
  </div>
</section>