<style>
  .rowtitlecls {
    border: 1px solid #f0ecec;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-left: 0%;
    height: auto;
  }

  .sas {
    position: relative;
    top: 7px;
    font-weight: 600;
    text-decoration: underline;
    color: #4caf50;

  }
</style>


<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Receipt Cheque</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" style="cursor: pointer;" (click)="homeClick()"></i>Transactions</a>
            </li>
            <li class="breadcrumb-item active" style="cursor: pointer;" (click)="backfun()" *ngIf="hideme">View
              Completed Transactions</li>
            <li class="breadcrumb-item active" style="cursor: pointer;" (click)="backfun1()" *ngIf="hideme1">View
              Temporary Transactions</li>
            <li class="breadcrumb-item active">Receipt Cheque</li>
          </ul>
        </div>
      </div>
    </div>


    <!-- <div class="row clearfix center">
                <label class="col-sm-12" style="font-size: inherit; float: right;">
                  Last edit was made on <b>{{lastTransactionEditedDate | date:'medium'}}</b> by <b>{{lastTransactionEditedBy}}</b>
                </label>
              </div> -->

    <div class="card">
      <div class="card-body">
        <div class="row clearfix">

          <div class="col-sm-3">
            <div class="form-group">
              <label> Transaction Type: </label>
              <select style="width:100%" disabled class="form-group" id="transaction_type" single></select>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label> Transaction Mode: </label>
              <select style="width:100%" disabled class="form-group" id="transaction_mode" single></select>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label> Company bank Acc: </label>
              <select disabled style="width:100%" class="form-group" id="companybankAcId" single disabled></select>
            </div>
          </div>


          <div class="col-sm-3" *ngIf="docListArray?.length">
            <div class="form-group">
              <label> Attached Files:</label>
              <li *ngFor="let item of docListArray">
                <a (click)="viewFiles(item.documentLocation)"
                  style="text-decoration: underline; color: #007bff; cursor: pointer;">{{item.documentName}}</a>
              </li>
            </div>
          </div>


        </div><br>

        <div class="rowtitlecls" style="position: relative;top: -31px;">

          <div class="row clearfix " style="position: relative;">


            <div class="col-sm-3">
              <label class="required"> Cheque Number: </label>
              <input type="text" (keypress)="keyPress($event)" maxlength=8
                style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                class=" form-control" id="ChequeNumber">
            </div>

            <div class="col-sm-3">
              <label class="required"> Cheque Date: </label>
              <input type="date" value="{{chequeDate| date:'yyyy-MM-dd'}}"
                style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                class=" form-control" id="ChequeDate">
            </div>

            <div class="col-sm-3">
              <label class="required"> Cheque Amount: </label>
              <input type="text" (keypress)="keyPressAmount($event)"
                style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                class=" form-control" id="ChequeAmount" pattern="^\d*(\.\d{0,2})?$">
            </div>


            <div class="col-sm-3">
              <label class="required"> Cheque Rec Date: </label>
              <input value="{{cheqrecDate| date:'yyyy-MM-dd'}}" type="date"
                style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                class=" form-control" id="ChequeRecDate">
            </div>



          </div><br>

          <!-- <div class="row clearfix">
              <div class="col-sm-2"><div class="form-line"> Bank Name:</div></div>
              <div class="col-sm-2">
                <div class="form-line center">
                  <select style="width:100%" class="form-group"  [(ngModel)]="bankType" id="bank_type" single></select>
                </div>
              </div> -->
          <!-- <div class="col-sm-2"><div class="form-line"> Cheque Rec Date:</div></div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="{{cheqrecDate| date:'yyyy-MM-dd'}}"  type="text" style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"  id="ChequeRecDate">
                </div>
              </div> -->


          <!-- <div class="col-sm-2"><div class="form-line"> Payable Amount:</div></div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input type="number" disabled style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"  id="PayableAmount">
                </div>
              </div> -->
          <!-- </div><br> -->

          <div class="row clearfix" style="position: relative;top: -12px;">

            <div class="col-sm-3">
              <div class="form-group">
                <label class="required">Customer Bank Name:</label>
                <select style="width:100%" class="form-group" [(ngModel)]="bankType" id="bank_type" single></select>
              </div>
            </div>


            <div class="col-sm-3">
              <div class="form-group">
                <label class="required">Project:</label>
                <select style="width:100%" disabled class="form-group" id="ProjectId" single></select>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label>Block:</label>
                <select style="width:100%" disabled class="form-group" id="BlockId" single disabled></select>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label class="required">Flat:</label>
                <select style="width:100%" disabled class="form-group" id="FaltId" single disabled></select>
              </div>
            </div>


          </div>
        </div>



        <div id="custdet_div"
          style="width:100%;border:solid 1px #000;height: 40px;padding: 10px;border-radius:10px;margin-top:-21px;display:none">
          <div style="float:left; width:50%"><b>Customer Name:</b> <span id="custname" style="font-weight: 900;"></span>
          </div>
          <div style="float:left;width:20%">Pending Amount:<span id="pendingamnt" style="font-weight: 900;"></span>
          </div>
          <!-- <div style="float:left;width:33.33%">Interest Amount:<span id="interestamnt" style="font-weight: 900;"></span>
          </div> -->
        </div><br>

        <!-- <div class="row clearfix">
          <label class="col-sm-2 lableclass datalable">Previous Comments:</label>
          <div class="col-sm-4" style="border: 1px solid #4d474785; border-radius:10px; padding: 10px;">
            <div class="row clearfix" *ngFor="let item of previousCRMComments">
              <label class="col-sm-3 lableclass datalable">{{item.empName}}:</label>
              <p class="col-sm-9">{{item.comments}}</p>
            </div>
          </div> -->
        <!-- <label class="col-sm-3 lableclass datalable">Attached Files:</label>
               <div class="col-sm-3">
                 <li *ngFor="let item of docListArray">
                   <a (click)="viewFiles(item.documentLocation)" style="text-decoration: underline; color: #007bff; cursor: pointer;">{{item.documentName}}</a>
                 </li>
               </div> -->
        <!-- </div> -->

        <!-- <div  style="margin-top:20px;"><input type="checkbox" value="" style="width:20px;height:20px;float:left;" id="checlist" checked><div style="float:left;margin-left:2px;">payment Set Off</div></div><br><br> -->
        <div id="PaymentSetOffDiv" style="border:solid 1px #000;padding: 15px;border-radius:10px;">
          <div class="row clearfix">
            <div class="col-sm-2">
              <div class="form-line">Principal Amount:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="PrincipalAmount" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line"> Corpus Fund:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="CorpusFund" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line"> Maintenance Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="MaintinaceCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
          </div>

          <div class="row clearfix">

            <div class="col-sm-2">
              <div class="form-line"> Flat Khata Bifurcation:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0"  (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="FlatKhataBifurcation" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            
            <div class="col-sm-2">
              <div class="form-line"> Interest:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="InterstAmount" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line"> Modification Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="ModificationCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
           
          </div>

          <div class="row clearfix">

            <div class="col-sm-2">
              <div class="form-line"> Legal Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="LeagalCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-line"> Refundable Advance:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text" (keypress)="keyPressAmount($event)"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="refunableCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line"> Modification Invoice:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line center">

                <p class="sas" *ngIf="modificationInvoiceNumber" (click)="modificationInvoiceNumberfun()">
                  {{modificationInvoiceNumber}}</p>
                <p class="sas1" *ngIf="!modificationInvoiceNumber"> - </p>

                <!-- <select style="width:100%" class="form-group" id="ModificationInvoiceId" single></select> -->
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">Legal Invoice:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line center">

                <p class="sas" *ngIf="legalChargeInvoiceNumber" (click)="legalChargeInvoiceNumberfun()">
                  {{legalChargeInvoiceNumber}}</p>
                <p class="sas" *ngIf="!legalChargeInvoiceNumber"> - </p>

                <!-- <select style="width:100%" class="form-group" id="LegalInvoiceId" single></select> -->
              </div>
            </div>


            <div class="col-sm-2">
              <label> TDS Amount:</label>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" type="text"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="TdsAmount" (keyup)="paidbynamefun($event)" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <label> Paid By:</label>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <select style="width:100%;text-transform: lowercase;" class="form-group" id="paidbyname" single>
                  <option value="select">Select</option>
                  <option value="Customer">Customer</option>
                 <option value="Ams">Ams</option>
                </select>
              </div>
            </div>



          </div>

          <div class="row" style="position: relative;top: 14px;">
            <div class="col-sm-2">
              <div class="form-line"> Car Parking Cost:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="carparkingcost" (keyup)="carparkingInvoice($event)" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-line">Car Parking Invoice: </div>
            </div>
            <div class="col-sm-2">
              <p class="sas" *ngIf="carparkingInvoiceID" (click)="carparkingInvoiceNumberfun()">
                {{carparkingInvoiceID}}</p>
              <p class="sas" *ngIf="!carparkingInvoiceID"> - </p>
                   <!-- <select style="width:100%" class="form-group" id="carparkingInvoiceId" single></select> -->
            </div>


            <div class="col-sm-2">
              <div class="form-line"> Registration And Mutation Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Registration_and_Mutation_Charges"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>



          </div>


          <div class="row" style="position: relative;top: 12px;">
            <div class="col-sm-2">
              <div class="form-line">Non-refundable Caution Deposit:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Non_refundable_Caution_Deposit"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-line"> Electricity Deposit:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Electricity_Deposit"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
          </div>




        </div><br>


        <div class="row clearfix rowtitlecls">


          <div class="col-sm-6">
            <div class="form-group">
              <label>CRM Comments:</label>
              <div style="border: 1px solid #4d474785; border-radius:10px; padding: 10px;height: auto;">
                <div *ngFor="let item of previousCRMComments">
                  <label>{{item.empName}}: <span>{{item.comments}}</span></label>

                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Customer Comments:</label>
              <textarea disabled id="CustomerCommentsId" style="border-radius: 4px;height: auto;"
                data-length="120">{{customerComments}}</textarea>
            </div>
          </div>


          <div class="col-sm-6">
            <div class="form-group">
              <label>Comments:</label>
              <textarea maxlength="500" id="CrmCommentsId" style="border-radius: 4px;height: auto;"
                data-length="120"></textarea>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="required"> Source of funds:</label>
              <select style="width:100%" class="form-group" id="Sourcefound" single>
                <option value="select">Select</option>
                <option value="Bank">Bank</option>
                <option value="Self">Self</option>
              </select>
            </div>
          </div>

        </div>








        <div *ngIf="transactionStatusNameval == 'Transaction Completed'" style="display: inline-flex;">
          <label style="position: relative;top: 15px;"><b>Attachment File :</b></label>
          <div *ngFor="let p of documentLocationdata">
            <img src="assets/images/file1.png" (click)="attachmentlink(p.documentLocation)"
              style=" width: 90px; margin-top: 18px;">
          </div>
        </div>

        <!-- <div class="row clearfix"> -->
        <!-- <div class="col-sm-2"><div class="form-line"> Company bank Account:</div></div>
                <div class="col-sm-4">
                  <div class="form-line">
                    <select disabled style="width:100%" class="form-group"  id="companybankAcId" single disabled></select>
                  </div>
                </div> -->
        <!-- <div *ngIf='this.operationType == "approveTransaction"' class="col-sm-2"><div class="form-line"> Attache File:</div></div>
                <div *ngIf='this.operationType == "approveTransaction"' class="col-sm-4">
                  <div class="file-field input-field">
                    <div class="btn">
                        <i class="fa fa-paperclip" aria-hidden="true" style="color:gray"></i>
                        <input  type="file" id="files" accept=".pdf,.xlsx,.xls,.txt,.docx" (change)="handle_FileSelect($event)">
                    </div>
                    <div class="file-path-wrapper">
                        <input id="filee" class="file-path validate" type="text" placeholder="Upload File" >
                    </div>
                  </div>
                </div>
                <div *ngIf='this.operationType != "approveTransaction"' class="col-sm-2"><div class="form-line"> Attache File:</div></div>
                <div *ngIf='this.operationType != "approveTransaction"' class="col-sm-4">
                  <div class="file-field input-field">
                    <div class="btn">
                        <i class="fa fa-paperclip" aria-hidden="true" style="color:gray"></i>
                        <input disabled  type="file" id="files" accept=".pdf,.xlsx,.xls,.txt,.docx" (change)="handle_FileSelect($event)">
                    </div>
                    <div class="file-path-wrapper">
                        <input  id="filee" class="file-path validate" type="text" placeholder="Upload File" >
                    </div>
                  </div>
               </div> -->
        <!-- </div><br> -->

        <div style="text-align:center;" *ngIf="paymentchequebutton_hide_show">
          <button type="button" class="btn-hover color-1" (click)="CRMReceiptChequeSubmit()">Submit</button>
        </div>

      </div>
    </div>

    <div class="container text-center" *ngIf="transactionStatusNameval == 'Transaction Completed' && deptid == 993">
      <button type="button" class="btn-hover color-1" (click)="Deletelistfun()">Delete</button>

    </div>

  </div>

</section>