<style>
  .rowtitlecls {
    border: 1px solid #f0ecec;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-left: 0%;
  }

  .invalid_feedback {
    color: red;
    position: relative;
    top: 4px;
    left: 0px;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: 500;
  }

  .trashicon {
    position: relative;
    left: 51px;
    color: #2196F3;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 23px;
    width: 30px;
    height: 30px;
  }

  .viewinvoicecls {
    position: absolute;
    right: 32px;
    top: 5px;
    font-weight: 600;
    color: #4caf50;
    font-size: 14px;
    text-decoration: underline;
    text-transform: capitalize;
    display: none;
  }

  .Modificationinvoicecls {
    position: absolute;
    right: 0px;
    top: 5px;
    font-weight: 600;
    color: #4caf50;
    font-size: 14px;
    text-decoration: underline;
    text-transform: capitalize;
    display: none;
  }
</style>

<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Receipt Waived Off </h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a><i class="fas fa-home" (click)="homeClick()"></i>Transactions</a>
            </li>
            <li class="breadcrumb-item active">Receipt Waived Off </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row clearfix" style="background: rgb(206 191 191 / 12%);
    padding: 10px; width: 100%; margin-left: 0; border-radius: 5px;">

      <div class="col-sm-2">
        <label style="position: relative;top: 5px;font-weight: 600;
        color: #26a69a;">Payment From</label>
        <span style="position: relative;top: 5px;left: 32px;
        font-weight: 600;">:</span>
      </div>

      <div class="col-sm-2">
        <select style="width:100%" class="form-group" id="payment_Type" single>
          <option value="Customer">Customer</option>
          <option value="Other">Other</option>
        </select>
      </div>

    </div>




    <div class="card">
      <div class="card-body" id="customer_first_element">
        <div class="row clearfix">
          <div class="col-sm-3">
            <div class="form-line" style="font-weight: bold;"> Transaction Type: <label> Receipt</label></div>
          </div>
          <div class="col-sm-3">
            <div class="form-line" style="font-weight: bold;"> Transaction Mode: <label>Waive Off</label></div>
          </div>
        </div><br>
        <form>
          <div class="row clearfix">
            <div class="col-sm-3">
              <div class="form-line">
                <label class="required">Waive Off Date:</label>
                <div class="center">
                  <input type="date" placeholder="select date" format="DD/MM/YYYY"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                    class="form-control" id="ChequeDate" [max]="getToday()">
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-line">
                <label class="required">Waive Off Amount:</label>
                <div class="center">

                  <input (keypress)="waivekeyPressAmount($event)" type="number" placeholder="Enter Amount"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                    class=" form-control" id="ChequeAmount" autocomplete="off" pattern="^\d*(\.\d{0,2})?$"
                    (keyup)="Cheque_amountfun($event)">




                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label class="required">Project</label>
                <select style="width:100%" class="form-group" id="ProjectId" single></select>
              </div>
            </div>


            <div class="col-sm-3">
              <div class="form-group">
                <label>Block</label>
                <select style="width:100%" class="form-group" id="BlockId" single></select>
              </div>
            </div>
          </div>

          <div class="row" style="position: relative;top: -16px;">
            <div class="col-sm-3" style="position: relative;top: -3px;">
              <div class="form-group">
                <label class="required">Flat</label>
                <select style="width:100%" class="form-group" id="FaltId" single></select>
              </div>
            </div>
          </div>

          <div id="custdet_div"
            style="width:100%;border:solid 1px #000;height: 40px;padding: 10px;border-radius:10px;margin-top:-23px;display:none">
            <div style="float:left;width:50%;"><b>Customer Name:</b> &nbsp; <span id="custname"
                style="font-weight: 900;"></span></div>
            <div style="float:left; width: 50%;">Pending Amount: &nbsp; <span id="pendingamnt"
                style="font-weight: 900;"></span>
            </div>
            <!-- <div style="float:left;width:20%;">Interest Amount:<span id="interestamnt" style="font-weight: 900;"></span>
            </div> -->
          </div><br>

          <!-- <div>
          <input type="checkbox" value="" style="width:20px;height:20px;float:left;"
            id="checlist">
          <div style="float:left;margin-left:2px;">Payment Set Off</div>
        </div><br> -->
          <div id="PaymentSetOffDiv" style="border:solid 1px #000;padding: 10px;border-radius:5px;">
            <div class="row clearfix">
              <div class="col-sm-2">
                <div class="form-group"> <label>Principal Amount</label></div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="0" (keypress)="waivekeyPressAmount($event)" type="number"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px; height: 28px;"
                    class=" form-control" id="PrincipalAmount" pattern="^\d*(\.\d{0,2})?$">
                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-line"> Corpus Fund:</div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="0" (keypress)="waivekeyPressAmount($event)" type="number"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px; height: 28px;"
                    class=" form-control" id="CorpusFund" pattern="^\d*(\.\d{0,2})?$">
                </div>
              </div>


              <div class="col-sm-2">
                <div class="form-line"> Maintinance Charges:</div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="0" (keypress)="waivekeyPressAmount($event)" type="number"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px; height: 28px;"
                    class=" form-control" id="MaintinaceCharges" pattern="^\d*(\.\d{0,2})?$">
                </div>
              </div>

            </div>

            <div class="row clearfix" style="position: relative;top: -6px;">

              <div class="col-sm-2">
                <div class="form-line"> Flat Khata Bifurcation:</div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="0" (keypress)="waivekeyPressAmount($event)" type="number"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px; height: 28px;"
                    class=" form-control" id="FlatKhataBifurcation" pattern="^\d*(\.\d{0,2})?$">
                </div>
              </div>




              <div class="col-sm-2">
                <div class="form-line"> Interest:</div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="0" (keypress)="waivekeyPressAmount($event)" type="number"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px; height: 28px;"
                    class=" form-control" id="InterstAmount" pattern="^\d*(\.\d{0,2})?$">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-line"> Modification Charges:</div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="0" (keypress)="waivekeyPressAmount($event)" type="number"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px; height: 28px;"
                    class="form-control" id="ModificationCharges" (keyup)="modificationInvoice($event)"
                    pattern="^\d*(\.\d{0,2})?$">
                </div>
              </div>

            </div>

            <div class="row clearfix" style="position: relative;
            top: 5px;">

              <div class="col-sm-2">
                <div class="form-line"> Legal Charges:</div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="0" (keypress)="waivekeyPressAmount($event)" type="number"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px; height: 28px;"
                    class=" form-control" id="LeagalCharges" (keyup)="legalInvoice($event)" pattern="^\d*(\.\d{0,2})?$">
                </div>
              </div>


              <div class="col-sm-2">
                <div class="form-line"> Refundable Advance:</div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="0" (keypress)="waivekeyPressAmount($event)" type="number"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:5px; height: 28px;"
                    class=" form-control" id="refunableCharges" pattern="^\d*(\.\d{0,2})?$">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-line"> Modification Invoice: <span class="Modificationinvoicecls"
                    (click)="Modificationfun()"> VIEW</span></div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <select style="width:100%" class="form-group" id="ModificationInvoiceId" single disabled></select>
                </div>
              </div>



            </div>

            <div class="row" style="position: relative;
            top: 14px;">

              <div class="col-sm-2">
                <div class="form-line">Legal Invoice: <span class="viewinvoicecls" (click)="viewinvoicefun()">
                    VIEW</span></div>
              </div>
              <div class="col-sm-2">
                <div class="form-line">

                  <select style="width:100%" class="form-group" id="LegalInvoiceId" single disabled></select>
                </div>
              </div>


              <div class="col-sm-2">
                <label> TDS Amount:</label>
              </div>
              <div class="col-sm-2">
                <div class="form-line">
                  <input value="0" type="number" min="0" (keypress)="waivekeyPressAmount($event)"
                    style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:5px;"
                    class=" form-control" id="TdsAmount" (keyup)="paidbynamefun($event)" pattern="^\d*(\.\d{0,2})?$">
                </div>
              </div>

              <div class="col-sm-2">
                <label> Paid By:</label>
              </div>

              <div class="col-sm-2">
                <select style="width:100%" class="form-group" id="paidbyname" single>
                  <option value="select">Select</option>
                  <option value="Customer">Customer</option>
              <option value="company">Company</option>
                </select>
              </div>


            </div>
          </div><br>

          <div class="rowtitlecls">
            <div class="row clearfix">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>CRM Comments</label>
                  <textarea rows="5" cols="5" style="border-radius: 4px;height: 50px;" id="CrmCommentsId"
                    data-length="120"></textarea>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label> Customer Comments </label>
                  <textarea style="border-radius: 4px;height: 50px;" rows="5" cols="5" id="CustomerCommentsId"
                    data-length="120"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div style="text-align:center;">
            <button type="button" class="btn-hover color-1" (click)="CRMReceiptChequeSubmit()">Submit</button>
          </div>
        </form>
      </div>

      <div id="other_first_element" style="padding: 10px;display: none;">
        <div class="row clearfix">
          <div class="col-sm-3">
            <div class="form-line" style="font-weight: bold;"> Transaction Type: <label> Receipt</label></div>
          </div>
          <div class="col-sm-3">
            <div class="form-line" style="font-weight: bold;"> Transaction Mode: <label>Waive Off</label></div>
          </div>
        </div>
        <form>

          <div class="rowtitlecls">
            <div class="row clearfix" style="position: relative;
            top: 9px;">


              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Waive Off Date</label>

                  <input type="date" placeholder="select date" format="DD/MM/YYYY"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                    class="form-control" id="waiveoff_Date" [max]="getToday()">

                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Waive Off Amount</label>
                  <input (keypress)="keyPressAmount($event)" type="text" placeholder="Enter Amount"
                    style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                    class=" form-control" id="waiveoff_Amount" autocomplete="off" pattern="^\d*(\.\d{0,2})?$"
                    (keyup)="Cheque_amountfun($event)">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Project</label>
                  <select style="width:100%" class="form-group" id="lener_project" single></select>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label class="required">Lender's Name</label>
                  <select style="width:100%" class="form-group" id="lender_name" single>

                  </select>
                </div>
              </div>

            </div><br>


            <div class="row clearfix">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Employee Comments</label>
                  <textarea rows="5" cols="5" style="border-radius: 4px;height: 50px;" id="bankcomentsID"
                    data-length="120"></textarea>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label> Lender Comments </label>
                  <textarea style="border-radius: 4px;height: 50px;" rows="5" cols="5" id="Lendercommentsid"
                    data-length="120"></textarea>
                </div>
              </div>
            </div>




          </div>

          <div style="text-align:center;">
            <button type="button" class="btn-hover color-1" (click)="other_submitfun()">Submit</button>
          </div>


        </form>
      </div>
    </div>
  </div>
</section>