<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">View Suspense Entries</h4>
            </li>

            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" style="cursor: pointer;" (click)="homeClick()"></i>Transactions</a>
            </li>
            <li class="breadcrumb-item active" (click)="ctreport()" *ngIf="view_clreared_transaction_data != null">
              Cleared Transaction Report</li>

            <li class="breadcrumb-item active">Suspense Entries</li>



          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="table-responsive" id="milestone_blocks_tables">

          <table id="tableExport" class="table table-bordered">
            <thead>
              <tr>
                <th class="center">S.NO</th>
                <th class="center">Transaction Received Date</th>

                <th class="center">Project Name</th>
                <th class="center">Ref.No</th>
                <th class="center">Amount</th>
                <th class="center">Approval Req Receive Date</th>
                <th class="center">Customer Bank Name</th>
                <th class="center">Company Account No</th>
                <th class="center">Mode</th>
              </tr>
            </thead>
            <tbody>


              <tr *ngFor="let item of anonymous_list; let i=index" style="cursor: pointer;"
                (click)="redirectCrmOnlineReceipt(item)">
                <td class="center">{{i+1}}</td>
                <td class="center">

                  <!-- <span *ngIf="item.transactionReceiveDate != null"
                    style="display: none;">{{item.transactionReceiveDate}}</span> -->
                  <span *ngIf="item.transactionReceiveDate != null">{{item.transactionReceiveDate| date :
                    'dd/MM/yyyy'}}</span>
                  <span *ngIf="item.transactionReceiveDate == null"> - </span>



                </td>
                <td class="center">{{item.siteName}}</td>
                <td class="center">{{item.referenceNo}}</td>
                <td class="center">{{item.amount.toLocaleString('en-IN')}}</td>
                <td class="center">

                  <!-- <span *ngIf="item.lastApprovedDate != null" style="display: none;">{{item.lastApprovedDate}}</span> -->
                  <span *ngIf="item.lastApprovedDate != null">{{item.lastApprovedDate| date : 'dd/MM/yyyy'}}</span>
                  <span *ngIf="item.lastApprovedDate == null"> - </span>




                </td>

                <td class="center">{{item.bankName}}</td>
                <td class="center">{{item.siteBankAccountNumber}}</td>
                <td class="center">{{item.transferMode}}</td>
              </tr>


            </tbody>

            <ng-container>
              <tr style="background: rgb(212 202 202 / 14%);font-weight:800">

                <td colspan="4" style="text-align: right; width: 53%;color: #9E9E9E;"> Total Amount:</td>
                <td><span id="invoiceamount" style="color: #9E9E9E;position: relative;left: 9px;"></span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </ng-container>
          </table>

          <!-- <table style="position: relative; top: -72px; right: 0;">
            <tbody>
              <tr>

                <th colspan="6" style="text-align: right; width: 53%;color: #9E9E9E;"> Total Amount:</th>
                <th><span id="invoiceamount" style="color: #9E9E9E;position: relative;left: 9px;"></span></th>
                <th></th>
                <th></th>
              </tr>
            </tbody>
          </table> -->

        </div>

      </div>
    </div>
  </div>

</section><br>