<style>
  input[type="date"]::-webkit-calendar-picker-indicator {
      cursor: pointer;
      border-radius: 4px;
      margin-right: 2px;
      opacity: 0.9;
      filter: invert(0.8);
      position: absolute;
      right: 35px;
  }

  ::ng-deep .my-class .modal-dialog {
      max-width: 30%;
      width: 30%;

  }

  .my__textoverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    display: block;
  }

  .container {
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}

</style>


<section class="content">

  <div class="container-fluid">

    <div class="block-header">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">

            <li class="breadcrumb-item">
              <h4 class="page-title">View All Notifications</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" (click)="homeClick()"></i> Company Notifications</a>
            </li>
         
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">View All Notifications</a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

          <div class="card-body">

            <div class="row clearfix">

              <div class="col-sm-4">

                <div class="form-line">

                  <label style="font-weight: bold;">Notification Type:</label>

                  <div class="center">
                    <select style="width:100%" id="notificationTypeID">
                      <option value="select">--Select Type--</option>
                      <!-- <option value="All">All</option> -->
                      <option value="CUSTOMER">Customer</option>
                      <!-- <option value="NONCUSTOMER">Non-Customer</option> -->
                    </select>
                  </div>
                </div>

              </div>

              <div class="col-sm-4">

                <div class="form-line">
                  <label style="font-weight: bold;">State:</label>
                  <div class="center">
                    <select style="width:100%" id="stateID">
                      <option value="select">--Select State--</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="col-sm-4">
                <div class="form-line">
                  <label style="font-weight: bold;">Device:</label>
                  <div class="center">
                    <select style="width:100%" id="deviceID" single>
                      <option value="select">--Select Device--</option>
                      <option value="All">All</option>
                      <option value="Android">Android</option>
                      <option value="iOS">iOS</option>
                    </select>
                  </div>
                </div>
              </div>


            </div>

            <div class="row clearfix">
              <div class="col-sm-4">
                <div class="form-line">
                    <label style="position: relative;top: 10px;font-weight: bold;">Start Date:</label>
                    <div class="center" style="position: relative;top: 9px;">

                        <span class="material-icons" style="position: absolute;
                    right: 19px;top: 7px;font-size: 20px;" (click)="startdatefun()">cancel </span>

                        <input type="date" placeholder="Select Date"
                            style="border: 1px solid #4d474785; text-align: center;border-radius:10px;height:30px"
                            class=" form-control" id="fromDate">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-line">
                    <label style="position: relative;top: 10px;font-weight: bold;">End Date:</label>
                    <div class="center" style="position: relative;top: 9px;">
                        <span class="material-icons" style="position: absolute;
                    right: 19px;top: 7px;font-size: 20px;" (click)="endtimefun()">cancel </span>

                        <input type="date" placeholder="Select Date"
                            style="border: 1px solid #6d6c6c85; text-align: center;border-radius:10px;height:30px"
                            class=" form-control" id="toDate">
                    </div>
                </div>
            </div>

               <div class="col-sm-4 center">
                <button type="button" class="btn-hover color-1"
                  (click)="searchCompanynotificationList()">Search</button>
              </div>
            </div>

          
          </div>
        </div>


        <div class="card" *ngIf="tabledata_companyNotifications?.length">
          <div class="card-body">
            <div class="table-responsive" style="overflow-x: revert;">
             


              <table id="tableExport"
                class="display table table-hover table-checkable order-column width-per-100">
                <thead>
                  <tr class="center">
                    <th style="width:10%;">S.NO</th>
                    <th style="width:10%;">Notification Id</th>
                    <th style="width:10%;">Title</th>
                    <th style="width:10%;">Description</th>
                    <th style="width:10%;">States</th>
                    <th style="width:10%;">Send Type Name</th> 
                    <th style="width:10%;">Projects</th>
                  
                    <th style="width:10%;">Created Date</th>
                    <th style="width:10%;">Sent Date</th>

                    <th style="width:10%;">Recive Count</th>
                    <th style="width:10%;">View Count</th>
                    <th style="width:10%;">Flat Count</th>
                   
                  </tr>
                </thead>
                <tbody>
                 
                  <tr
                    *ngFor="let item of tabledata_companyNotifications;let i=index;"
                    class="notificationsList" (click)="leadId(item)">
                    <td style="width:10%;" class="center">{{i+1}}</td>
                    <td style="width:10%;" class="center">{{item.id}}</td>
                    <td style="width:10%;" class="center">
                      <span class="my__textoverflow">{{item.message}}</span></td>
                      <td  style="max-width:10%;" class="text-align:left">
                        
                        
                        <div class="container my__textoverflow" [class.show]="show" [innerHTML]="item.description">
                        
                        </div>
                      

                      
                      
                      </td>
                      <td style="width:10%;" class="center">{{item.responseObjList}}</td>
                      
                     <td style="width:10%;" class="center">{{item.sendTypeName}}</td> 
                     <td style="width:10%;" class="center "><span class="my__textoverflow">{{item.siteobjList}}</span></td>
                                            
                    <td style="width:10%;" class="center">
                      
                      <span *ngIf="item.createdDate != null" style="display: none;">{{item.createdDate}}</span>
                      <span *ngIf="item.createdDate != null">{{item.createdDate| date : 'dd/MM/yyyy'}}</span>
                      <span *ngIf="item.createdDate == null"> - </span>

                     
                    
                    </td>
                    <td style="width:10%;" class="center">
                      <span *ngIf="item.sentDate != null" style="display: none;">{{item.sentDate}}</span>
                      <span *ngIf="item.sentDate != null">{{item.sentDate| date : 'dd/MM/yyyy'}}</span>
                      <span *ngIf="item.sentDate == null"> - </span>

                      
                    
                    </td>

                    <td style="width:10%;" class="center">{{item.recivecount}}</td> 
                    <td style="width:10%;" class="center">{{item.viewcont}}</td> 
                    <td style="width:10%;" class="center">{{item.flatCount}}</td> 
                  </tr>
                </tbody>

              </table>


            </div>

            <div style="margin-top:60px!important;"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>