<style>
  .rowtitlecls {
    border: 1px solid #f0ecec;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-left: 0%;
  }

  .invalid_feedback {
    color: red;
    position: relative;
    top: 4px;
    left: 0px;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: 500;
  }

  .pclass {
    border: 1px solid #9E9E9E;
    padding: 5px;
    border-radius: 5px;
    background: #eae3e3;
  }

  .sas {
    position: relative;
    top: 7px;
    font-weight: 600;
    text-decoration: underline;
    color: #4caf50;

  }


  #otherscomentid {
    width: 100%;
    border-color: #26a69a;
    border-radius: 5px;
    padding: 5px;
    position: relative;
  }

  .form-group {
    width: 94%;
    margin-bottom: 24px;
    margin-left: 3%;
}

</style>

<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Receipt Cheque</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a>
                <i class="fas fa-home" style="cursor:pointer" (click)="homeClick()"></i> Transactions</a>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a (click)="redirectToPenidng()">{{pathName}}</a>
            </li>
            <li class="breadcrumb-item active">
              Receipt Cheque
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix center">
      <label class="col-sm-12" style="font-size: inherit; float: right;">
        Last edit was made on <b>{{lastTransactionEditedDate | date:'medium'}}</b> by <b>{{lastTransactionEditedBy}}</b>
      </label>
    </div>

    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label><b> Transaction Type: </b> {{transactionType}}</label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label><b> Transaction ID:</b> {{transactionID}}</label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label><b>Company Bank Acc:</b> {{companyBankAccountNo}}</label>
            </div>
          </div>
        </div>

        <div class="row" style="position: relative;top: -25px;">
          <div class="col-sm-12" *ngIf="docListArray?.length">
            <label><b>Attached Files:</b></label>
            <div class="col-sm-2" *ngIf="docListArray?.length">
              <li *ngFor="let item of docListArray">
                <a (click)="viewFiles(item.documentLocation)"
                  style="text-decoration: underline; color: #007bff; cursor: pointer;">{{item.documentName}}</a>
              </li>
            </div>
          </div>
        </div>



        <div class="rowtitlecls">

          <div class="row clearfix">

            <div class="col-sm-3">
              <label class="required">Cheque Number:</label>
              <input type="text" (keypress)="keyPress($event)" disabled
                style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                class=" form-control" id="ChequeNumber">
            </div>


            <div class="col-sm-3">
              <label class="required">Cheque Date:</label>
              <input type="date" value="{{chequeDate| date:'yyyy-MM-dd'}}" disabled
                style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                class="form-control" id="ChequeDate">
            </div>


            <div class="col-sm-3">
              <label class="required">Cheque Amount:</label>
              <input type="text" (keypress)="keyPressAmount($event)" disabled
                style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                class=" form-control" id="ChequeAmount" pattern="^\d*(\.\d{0,2})?$">
            </div>


            <div class="col-sm-3">
              <label class="required">Cheque Rec Date:</label>
              <input type="date" value="{{chequeReceiveDate| date:'yyyy-MM-dd'}}" disabled
                style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                class="form-control" placeholder="Please choose date" id="receivedDateID">
            </div>




          </div>

          <!-- <div class="row clearfix">
          <label class="col-sm-2 lableclass datalable" style="font-weight: bold;"> Bank Name:</label>
          <div class="col-sm-2">
            <div class="form-line bankNameClass">
              <select style="width:100%" disabled class="form-group" id="bankNameID" single>
              </select>
            </div>
          </div> -->

          <!-- <label class="col-sm-2 lableclass datalable" style="font-weight: bold;"> Cheque Received Date:</label>
          <div class="col-sm-2">
            <input type="text" disabled style="border: 1px solid #4d474785; text-align: center;border-radius:10px;"
              class="datepicker form-control" placeholder="Please choose date" id="receivedDateID">
          </div> -->

          <!-- <label class="col-sm-2 lableclass datalable"> Payable Amount:</label>
              <div class="col-sm-2">
                <div class="form-line">
                  <input type="text" disabled style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"  id="PayableAmount">
                </div>
              </div> -->
          <!-- </div><br> -->

          <div class="row clearfix">
            <div class="col-sm-3">
              <label> Customer Bank Name:</label>
              <select style="width:100%" disabled class="form-group" id="bankNameID" single>
              </select>
            </div>


            <div class="col-sm-3">
              <label class="required">Project Name:</label>
              <p class="pclass">{{projectName}}</p>
            </div>


            <div class="col-sm-3">
              <label>Block Number:</label>
              <p class="pclass">{{blockNumber}}</p>
            </div>

            <div class="col-sm-3">
              <label class="required">Flat Number:</label>
              <p class="pclass">{{flatNumber}}</p>
            </div>

          </div>
        </div>

        <div style="width:100%;border:solid 1px #000;height: 40px;padding: 10px;border-radius:10px;margin-top:20px;">
          <label style="float:left; width:50%">Customer Name: <b>{{customerName}}</b></label>
          <label style="float:left;width:20%">Pending Amount: <b>{{totalPendingAmount | number}}</b></label>
          <!-- <label style="float:left;width:33.33%">Interest Amount: {{totalInterestAmount | number}}</label> -->
        </div><br>

        <div class="row clearfix">
          <div class="col-sm-12">
            <label>CRM Comments:</label>
            <div style="border: 1px solid #4d474785; border-radius:10px; padding: 10px;">
              <div class="row clearfix" *ngFor="let item of previousCRMComments">
                <label class="col-sm-4">{{item.empName}}:</label>
                <p class="col-sm-8">{{item.comments}}</p>
              </div>
            </div>
          </div>


        </div>

        <!-- <div class="row clearfix">
          <div class="col-sm-2" id="PaymentSetOffDiv">
            <label>Payment Setoff</label>
          </div>
          <div class="col-sm-4"></div> -->

        <!-- <label class="col-sm-3 lableclass datalable">Company Bank Account:</label>
          <div class="col-sm-3">
            <p>{{companyBankAccountNo}}</p>
          </div> -->
        <!-- </div><br> -->

        <div style="border:solid 1px #000;padding: 15px;border-radius:10px;margin-top:20px;">
          <div class="row clearfix">
            <label class="col-sm-2 " style="font-weight: bold;"> Principal Amount:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input type="text" (keypress)="keyPressAmount($event)" disabled
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="PrincipalAmount" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-line" style="font-weight: bold;">Corpus Fund:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text" disabled
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="CorpusFund" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-line" style="font-weight: bold;"> Maintenance Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text" disabled
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="MaintinaceCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
          </div>

          <div class="row clearfix">

            <div class="col-sm-2">
              <div class="form-line" style="font-weight: bold;"> Flat Khata Bifurcation:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text" disabled
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="FlatKhataBifurcation" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <label class="col-sm-2" style="font-weight: bold;"> Interest:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input type="text" (keypress)="keyPressAmount($event)" disabled
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="InterstAmount" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            <label class="col-sm-2" style="font-weight: bold;"> Modification Charges:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input type="text" (keypress)="keyPressAmount($event)" (keyup)="modificationInvoice($event)" disabled
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="ModificationCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

           
          </div>

          <div class="row clearfix">

            <label class="col-sm-2" style="font-weight: bold;"> Legal Charges:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input type="text" (keypress)="keyPressAmount($event)" (keyup)="legalInvoice($event)" disabled
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="LeagalCharges" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            <label class="col-sm-2" style="font-weight: bold;"> Refundable Advance:</label>
            <div class="col-sm-2">
              <div class="form-line">
                <input type="text" (keypress)="keyPressAmount($event)" disabled
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="refundableAdvanceID" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            <label class="col-sm-2 lableclass">Modification Invoice:</label>
            <div class="col-sm-2">
              <div class="form-line center">

                <p class="sas" *ngIf="modificationInvoiceNumber" (click)="modificationInvoiceNumberfun()">
                  {{modificationInvoiceNumber}}</p>
                <p class="sas1" *ngIf="!modificationInvoiceNumber"> - </p>


                <!-- <select disabled style="width:100%" class="form-group" id="ModificationInvoiceId" single>
                  <option value="">--Select--</option>
                </select> -->
              </div>
            </div>

            <label class="col-sm-2 lableclass">Legal Invoice:</label>
            <div class="col-sm-2">
              <div class="form-line center">

                <p class="sas" *ngIf="legalChargeInvoiceNumber" (click)="legalChargeInvoiceNumberfun()">
                  {{legalChargeInvoiceNumber}}</p>
                <p class="sas" *ngIf="!legalChargeInvoiceNumber"> - </p>

                <!-- <select disabled style="width:100%" class="form-group" id="LegalInvoiceId" single>
                  <option value="">--Select--</option>
                </select> -->
              </div>
            </div>

            <div class="col-sm-2">
              <label> TDS Amount:</label>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input disabled value="0" type="text"
                  style="border: 1px solid #4d474785; height: 28px; text-align: center;border-radius:10px;"
                  class=" form-control" id="TdsAmount" (keyup)="paidbynamefun($event)" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <label> Paid By:</label>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <select disabled style="width:100%" class="form-group" id="paidbyname" single>
                  <option value="">Select</option>
                  <option value="Customer">Customer</option>
                  <option value="Ams">Ams</option>
                </select>
              </div>
            </div>

          </div>



          <div class="row" style="position: relative;top: 14px;">
            <div class="col-sm-2">
              <div class="form-line"> Car Parking Cost:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="carparkingcost" (keyup)="carparkingInvoice($event)" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-line">Car Parking Invoice: </div>
            </div>
            <div class="col-sm-2">
              <p class="sas" *ngIf="carparkingInvoiceID" (click)="carparkingInvoiceNumberfun()">
                {{carparkingInvoiceID}}</p>
              <p class="sas" *ngIf="!carparkingInvoiceID"> - </p>

                   <!-- <select style="width:100%" class="form-group" id="carparkingInvoiceId" single></select> -->
            </div>


            <div class="col-sm-2">
              <div class="form-line"> Registration And Mutation Charges:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Registration_and_Mutation_Charges"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


          </div>

           <div class="row" style="position: relative;top: 12px;">
            <div class="col-sm-2">
              <div class="form-line">Non-refundable Caution Deposit:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Non_refundable_Caution_Deposit"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-line"> Electricity Deposit:</div>
            </div>
            <div class="col-sm-2">
              <div class="form-line">
                <input value="0" (keypress)="keyPressAmount($event)" type="text"
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px; height: 28px;"
                  class=" form-control" id="Electricity_Deposit"  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>



          </div>


        </div><br>

        <div class="rowtitlecls">

          <div class="row clearfix">


            <div class="col-sm-6">
              <label>Customer Comments:</label>
              <p style="border: 1px solid #4d474785; padding: 10px; border-radius:10px;">{{customerComments}}</p>
            </div>
            <div class="col-sm-6" id="userCommentsField">
              <label id="userCommentsLabel">Comments:</label>
              <div>
                <textarea rows="4" cols="4" placeholder="enter comments" style="border-radius:4px;"
                  id="CustomerCommentsId" data-length="120"></textarea>
              </div>

            </div>





            <div class="col-sm-4" id="chequeDepositedDateField">
              <label id="chequeDepositedDateLabel">Cheque
                Deposited Date:</label>
              <div>
                <input type="date" value="{{cheque_DepositedDate| date:'yyyy-MM-dd'}}" placeholder="select date"
                  disabled style="border: 1px solid #4d474785; text-align: center;border-radius:10px;"
                  class=" form-control" id="ChequeDepositedDateID" pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>

            <div class="col-sm-4" id="chequebouncedDateField">
              <label id="chequeDepositedDateLabel">Cheque
                Bounce Date:</label>
              <div>
                <input type="date" value="{{cheque_Bouncedate| date:'yyyy-MM-dd'}}" placeholder="select date" disabled
                  style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"
                  pattern="^\d*(\.\d{0,2})?$">
              </div>
            </div>
            <div class="col-sm-6" id="checkbounceComents">
              <label>Cheque Bounce Comments:</label>
              <p style="border: 1px solid #4d474785; padding: 10px; border-radius:10px;">{{chequeBounce_Comment}}</p>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="required"> Source of funds: </label>
                <select disabled style="width:100%" class="form-group" id="Sourcefound" single>
                  <option value="">Select</option>
                  <option value="Bank">Bank</option>
                  <option value="Self">Self</option>
                </select>
              </div>
            </div>



          </div>
        </div>



        <div *ngIf="transactionStatusNameval == 'Transaction Completed'" style="display: inline-flex;">
          <label style="position: relative;top: 15px;"><b>Attachment File :</b></label>
          <div *ngFor="let p of documentLocation">
            <img src="assets/images/file1.png" (click)="attachmentlink(p.documentLocation)"
              style=" width: 90px; margin-top: 18px;">
          </div>
        </div>



        <div class=" row clearfix" id="actionButtons">
          <div class="col-sm-3"></div>
          <div class="col-sm-3" style="text-align:center;">
            <button type="button" class="btn-hover color-1" (click)="openChequeClearedModel()">Cheque
              Cleared</button>
          </div>

          <div class="col-sm-3" style="text-align:center;">
            <button type="button" class="btn-hover color-1" (click)="chequeBounceAccReceipt('Reject')">Cheque
              Bounce</button>
          </div>
          <div class="col-sm-3"></div>
        </div>


      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="modal fade" id="chequeClearedModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Cheque Clearance</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="offset-md-1 col-md-10">
                <div class="row clearfix" style="border:solid 1px #bbb">
                  <div class="col-md-8 offset-md-2 center-block text-center">

                    <b class="col-md-12 m-b-25 m-t-25 refrenceNumber">Cheque Clearance Date :</b>
                    <div class="col-md-12">
                      <div class="form-line">
                        <input type="text" placeholder="select date"
                          style="border: 1px solid #4d474785; text-align: center;border-radius:10px;"
                          class=" form-control" id="ChequeClearanceDateID">
                      </div>
                    </div>
                    <!-- <div class="col-md-12">
                    <div class="form-line">
                      <input type="text" style="border: 1px solid #4d474785; text-align: center;border-radius:10px;" class=" form-control"  id="referenceNumberID">
                    </div>
                  </div> -->
                  </div>
                  <div class="col-md-12 text-center center-block m-b-25">
                    <!-- <button type="button" class="btn-hover color-1 cancelBtnColor" data-dismiss="modal">Cancel</button> -->
                    <button type="button" class="btn-hover color-1"
                      (click)="approveAccReceiptCheque('Approve')">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="modal fade" id="chequeBounceModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel" style="position: relative;left: 21px;">Cheque Bounce :
              </h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="height: 310px;">
                <div class="card-body">


                  <div class="form-group">
                    <label class="required"> Cheque Bounce Reasons:</label>
                    <select style="width:100%" class="form-group" id="chequebounceReasons" single>
                      <option value="select">--Select--</option>
                      <option value="Insufficient Funds / Exceeds arrangement">Insufficient Funds / Exceeds
                        arrangement</option>
                      <option value="Stop payment">Stop payment</option>
                      <option value="Customer name mismatch with Database">Customer name mismatch with Database
                      </option>
                      <option value="Authentication of branch required">Authentication of branch required</option>
                      <option value="Post dated cheque,Stale cheque">Post dated cheque,Stale cheque</option>
                      <option value="Undated cheque">Undated cheque</option>
                      <option value="Wrong / invalid Account number">Wrong / invalid Account number</option>
                      <option value="NRE source confirmation required">NRE source confirmation required</option>
                      <option value="Account closed">Account closed</option>
                      <option value="Signature mismatch">Signature mismatch</option>
                      <option value="Signature required">Signature required</option>
                      <option value="Alteration not permissible">Alteration not permissible</option>
                      <option value="Crossed to two banks">Crossed to two banks</option>
                      <option value="Amount in words and figures differs">Amount in words and figures differs
                      </option>
                      <option value="Payee name required">Payee name required</option>
                      <option value="Endorsement required/to be signed">Endorsement required/to be signed</option>
                      <option value="Non-CTS chq-send in Non-CTS session">Non-CTS chq-send in Non-CTS session
                      </option>
                      <option value="Overwrite/Alteration required Drawer's Signature">Overwrite/Alteration required
                        Drawer's Signature</option>
                      <option value="Paper Not Received">Paper Not Received</option>
                      <option value="Mandate Cancelled">Mandate Cancelled</option>
                      <option value="Others">Others</option>
                    </select>
                  </div>


                  <div class="form-group" style="position: relative;top: -10px;">
                    <label class="required">Cheque Bounce Date :</label>
                    <input type="text" placeholder="select date" style="border: 1px solid #4d474785;text-align: center;
                       border-radius: 6px; height: 30px;" class=" form-control" id="ChequeBounceDateID">
                  </div>


                  <div class="form-group" style="position: relative; top: -21px;" id="bouncedateid">
                    <label class="required">Cheque bounce reason : </label>
                    <textarea cols="5" rows="5" id="otherscomentid" placeholder="Comments"></textarea>
                  </div>


                  <div class="form-group" style="width: 100%;text-align: center;position: relative;top: -43px;">
                    <button type="button" class="btn-hover color-1"
                      (click)="rejectReceiptCheque('Reject')">Submit</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center" *ngIf="transactionStatusNameval == 'Transaction Completed'  && deptid == 993">
      <button type="button" class="btn-hover color-1" (click)="Deletelistfun()">Delete</button>

    </div>

  </div>

</section>